div(ng-controller="SidebarController as sidebar")
  // Inline template with sidebar items markup and ng-directives
  script(type='text/ng-template', id="sidebar-renderer.html")
    span(ng-if="item.options.heading") {{(item.options.translate | translate) || item.options.text}}

    a(
      ng-if="!item.options.heading"
      ng-href="{{$state.href(item.options.sref, item.options.params)}}"
      title="{{item.options.text}}"
      md-ink-ripple
    )
      .pull-right(
        ng-if="item.options.alert"
        ng-class="item.options.label || 'label label-success'"
        ng-bind="item.options.alert"
      )
      em(
        ng-if="item.options.icon"
        ng-class="item.options.icon"
      )
      span {{(item.options.translate | translate) || item.options.text}}

    ul.nav.sidebar-subnav(
      ng-if="item.submenu"
      uib-collapse="sidebar.isCollapsed[pIndex]"
      ng-init="sidebar.addCollapse(pIndex, item)"
    )
      li.sidebar-subnav-header {{(item.options.translate | translate) || item.options.text}}
      li(
        ng-repeat='item in item.submenu'
        ng-include="'sidebar-renderer.html'"
        ng-class="sidebar.getMenuItemPropClasses(item)"
        ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true"
        ng-click="sidebar.toggleCollapse(pIndex)"
      )

  // START Sidebar (left)
  .aside-inner
    nav.sidebar(
      sidebar
      sidebar-anyclick-close
      ng-class="{'show-scrollbar': app.layout.asideScrollbar}"
    )
      // START sidebar nav
      ul.nav
        // Iterates over all sidebar items
        li(
          ng-class="sidebar.getMenuItemPropClasses(item)"
          ng-repeat='item in sidebar.items'
          ng-init="pIndex = $index"
          ng-include="'sidebar-renderer.html'"
          ng-click="sidebar.toggleCollapse(pIndex, true)"
        )
      // END sidebar nav

  // END Sidebar (left)
