include /resources/angle/pug/mixins/panel
include /resources/angle/pug/mixins/form
+label("{{ pxeInstallForm.lang+'.profile.LABEL' | translate }}")
  +ui-select("pxeInstallForm.input.profile")
    ui-select-match(placeholder="{{ pxeInstallForm.lang+'.profile.PLACEHOLDER' | translate }}")
      | {{ $select.selected.name }}

    ui-select-choices(
      repeat=[
        "choice in (",
          "pxeInstallForm.input.profile.items",
          "| multiFilter: $select.search",
        ") track by choice.id",
      ].join('')
      refresh="pxeInstallForm.input.profile.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="choice.name | highlight: $select.search")

div(ng-if="pxeInstallForm.input.profile.selected.iso")
  +label("{{ pxeInstallForm.lang+'.edition.LABEL' | translate }}")
    +ui-select("pxeInstallForm.input.edition")
      ui-select-match(placeholder="{{ pxeInstallForm.lang+'.edition.PLACEHOLDER' | translate }}")
        | {{ $select.selected.name }}

      ui-select-choices(
        repeat=[
          "choice in (",
            "pxeInstallForm.input.edition.items",
            "| multiFilter: $select.search",
          ") track by choice.id",
        ].join('')
        refresh="pxeInstallForm.input.edition.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="choice.name | highlight: $select.search")

  +field("{{ pxeInstallForm.lang+'.license-key.LABEL' | translate }}")(
    placeholder="{{ pxeInstallForm.lang+'.license-key.PLACEHOLDER' | translate }}"
    ng-model="pxeInstallForm.input.licenseKey"
  )
    p.help-block(translate="{{pxeInstallForm.lang+'.license-key.HELP'}}")

div(ng-if="pxeInstallForm.canRAID")
  +select("{{pxeInstallForm.lang+'.disk.raid.LABEL'}}")(
    ng-model="pxeInstallForm.input.disk.raid"
  )
    option(
      value="None"
      translate="{{pxeInstallForm.lang+'.disk.raid.NONE'}}"
    )
    option(
      value="0"
      translate="{{pxeInstallForm.lang+'.disk.raid.ZERO'}}"
    )
    option(
      value="1"
      translate="{{pxeInstallForm.lang+'.disk.raid.ONE'}}"
    )

  +field("{{pxeInstallForm.lang+'.disk.index.LABEL'}}")(
    ng-model="pxeInstallForm.input.disk.index"
  )
    p.help-block(translate="{{pxeInstallForm.lang+'.disk.index.HELP'}}")
