uib-tabset.full-size-lists(active='vm.tabs.active')
  uib-tab(
    ng-repeat="tab in vm.tab.items"
    index="$index"
    ng-init="list = tab.list"
    select="vm.tab.change(tab)"
    active="tab.active"
  )
    uib-tab-heading
      span(translate="{{ tab.text }}")
      span &nbsp;
      span.badge(ng-if="list.pages.total", ng-bind="list.pages.total")

    div(ng-include="tab.results.url")
