.row.form-horizontal
  div.col-md-6(ng-repeat="item in tab.list.items")
    .form-group
      .col-xs-5
        input.form-control(
          type="text"
          ng-model="item.name"
          name="{{item.id}}.name"
          placeholder="{{ 'part.input.name.PLACEHOLDER' | translate }}"
        )
      .col-xs-5
        input.form-control(
          type="text"
          name="{{item.id}}.billing_id"
          ng-model="item.billing_id"
          placeholder="{{ 'part.input.billing.PLACEHOLDER' | translate }}"
        )
      .col-xs-2.actions
        a.fa.fa-minus-circle(
          ng-click="tab.list.delete([item])"
        )


div.alert.alert-info(
  ng-if="!tab.list.items.length"
  data-translate="part.list.EMPTY"
)

.panel-footer(
  style="margin:0 -20px"
)
  .row
    div.col-md-4
      button.btn.btn-primary(
        type="button"
        ng-click="tab.list.add()"
        data-translate="{{ tab.text }}.ADD"
      )
      button.btn.btn-primary.ml(
        type="submit"
        data-translate="part.list.SUBMIT"
      )
    pagination.text-right.block.mr(pages="tab.list.pages")

