span(
  ng-repeat="target in logTarget.log.targets track by $index"
)
  a(
    ng-if="logTarget.getHref(target)"
    ng-href="{{ logTarget.getHref(target) }}"
    ng-bind="target.name"
  )
  span(
    ng-if="!logTarget.getHref(target)"
    ng-bind="target.name"
  )
  |  ({{target.singular}})
  br

span(ng-if="!logTarget.log.targets.length") -
