span(
  ng-repeat="target in logTarget.log.targets track by $index"
  ng-init="logTarget.getHref(target)"
)
  a(
    ng-if="target.href"
    ng-href="{{ target.href }}"
    ng-bind="target.name"
  )
  span(
    ng-if="!target.href"
    ng-bind="target.name"
  )
  |  ({{target.singular}})
  br

span(ng-if="!logTarget.log.targets.length") -
