include /resources/angle/pug/mixins/panel

list.panel.panel-default(
  ng-if="logs.list"
  ng-show="logs.show()"
  list="logs.list"
)
  list-header(text="{{ logs.heading }}")
    a.btn.btn-default(ng-click="logs.filters.visible = !logs.filters.visible")
      i.fa.fa-filter
  log-filters(
    show="logs.filters.visible"
    current="logs.filters.current"
    change="logs.filters.change()"
  )
  log-table(
    show-type="logs.showType"
  ).border-top-table.tbody-height-500.scrollable-block
  list-footer
