doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'system.integration.form.name.LABEL' | translate }}"
)(
  placeholder="{{ 'system.integration.form.name.PLACEHOLDER' | translate }}"
  ng-model="integrationForm.input.name"
)

+select("{{ 'system.integration.form.permission_group.LABEL' | translate }}","permission_group")(
  placeholder="{{ 'system.integration.form.permission_group.PLACEHOLDER' | translate }}"
  ng-model= "integrationForm.input.permission_group_id",
  ng-options="value.id as value.name for value in integrationForm.permission_groups"
)
