ul.pagination.pull-right.margin-left(ng-class="pagination.pages.max > pagination.pages.min ? '' : 'hidden'")
  li(ng-if="pagination.pages.min < pagination.visible[0]")
    a(ng-click="pagination.pages.set(pagination.pages.min)")
      | {{ pagination.pages.min }}
  li(ng-if="pagination.pages.min + 1 < pagination.visible[0]")
    a.no-hover ...
  li(
    ng-repeat="page in pagination.visible"
    ng-class="page === pagination.pages.current ? 'active' : ''"
  )
    a(ng-click="pagination.pages.set(page)")
      | {{ page }}
  li(ng-if="pagination.pages.max-1 > pagination.visible[pagination.visible.length-1]")
    a.no-hover ...
  li(ng-if="pagination.pages.max > pagination.visible[pagination.visible.length-1]")
    a(ng-click="pagination.pages.set(pagination.pages.max)")
      | {{ pagination.pages.max }}

div.per-page.pull-right
  select.form-control(
    ng-model="pagination.per.value"
    ng-change="pagination.per.sync()"
    ng-options="count for count in pagination.per.options"
  )
