include /resources/pug/mixins/form

.row
  .col-md-6
    .panel.panel-default.form-horizontal(
      ng-submit="layout.submit()"
    )
      .panel-heading
        h3.panel-title(
          translate="account.layout.nav.TITLE"
        )
      .panel-body
        +select("account.layout.nav.position.LABEL")(
          ng-model="app.layout.nav.position"
        )
          option(
            value="left"
            translate="account.layout.nav.position.LEFT"
          )
          option(
            value="top"
            translate="account.layout.nav.position.TOP"
          )
        div(ng-if="app.layout.nav.position == 'left'")
          +label()
            +checkbox("account.layout.nav.COLLAPSE")(
              ng-model="app.layout.nav.isCollapsed"
            )
