doctype html
include /resources/angle/pug/mixins/form

+field(
  "forward.gateway.form.name.LABEL",
  "name"
)(
  placeholder="{{ 'forward.gateway.form.name.PLACEHOLDER' | translate }}"
  ng-model="gatewayForm.input.name"
)

+field(
  "forward.gateway.form.hostname.LABEL",
  "hostname"
)(
  placeholder="{{ 'forward.gateway.form.hostname.PLACEHOLDER' | translate }}"
  ng-model="gatewayForm.input.hostname"
)

+field(
  "forward.gateway.form.usable_ips.LABEL",
  "usable_ips"
)(
  placeholder="{{ 'forward.gateway.form.usable_ips.PLACEHOLDER' | translate }}"
  ng-model="gatewayForm.input.usable_ips"
)
  p.help-block(translate="forward.gateway.form.usable_ips.HELP")

+field(
  "forward.gateway.form.api_key.LABEL",
  "api_key"
)(
  placeholder="{{ 'forward.gateway.form.api_key.PLACEHOLDER' | translate }}"
  ng-model="gatewayForm.input.api_key"
)

div(ng-if="!gatewayForm.isCreating")
  +label("forward.gateway.form.health.LABEL")
    p.form-control-static
      forward-gateway-health(gateway="gatewayForm.gateway")
  +label("forward.gateway.form.version.LABEL")
    p.form-control-static
      forward-gateway-version(gateway="gatewayForm.gateway")

+select(
  "forward.gateway.form.forwarding_type.LABEL",
  "forwarding_type"
)(
  placeholder="{{ 'forward.gateway.form.forwarding_type.PLACEHOLDER' | translate }}"
  ng-model="gatewayForm.input.forwarding_type"
  ng-options="'forward.gateway.form.forwarding_type.'+type | translate for (type,value) in gatewayForm.FORWARDING_TYPE"
)

+field(
  "forward.gateway.form.port_limit.LABEL",
  "port_limit"
)(
  placeholder="{{ 'forward.gateway.form.port_limit.PLACEHOLDER' | translate }}"
  ng-model="gatewayForm.input.port_limit"
)

+label("forward.gateway.form.group.LABEL")
  +ui-select("gatewayForm.groups")(
    multiple
    theme="bootstrap"
    close-on-select="false"
  )
    ui-select-match(placeholder="{{ 'forward.gateway.form.group.LABEL' | translate }}")
      | {{ $item.name }}

    ui-select-choices(
      repeat=
        "group in (" +
        "gatewayForm.groups.items |" +
        "filter: {name: $select.search} |" +
        "filter: gatewayForm.groups.notSelected" +
        ") track by group.id"
      refresh="gatewayForm.groups.load($select.search)"
      refresh-delay="400"
    )
      div(ng-bind-html="group.name | highlight: $select.search")
