doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'client.form.email.LABEL' | translate }}",
  "email"
)(
  ng-model="clientForm.input.email"
)

+field(
  "{{ 'client.form.password.LABEL' | translate }}",
  "password"
)(
  placeholder="{{ 'client.form.password.PLACEHOLDER' | translate }}"
  ng-model="clientForm.input.password"
)

+double-field(
  "{{ 'client.form.name.LABEL' | translate }}",
  "name", {
    "ng-model": "clientForm.input.first"
  }, {
    "ng-model": "clientForm.input.last"
  }
)

hr

+field(
  "{{ 'client.form.billing.id.LABEL' | translate }}",
  "billing_id"
)(
  ng-model="clientForm.input.billing.id"
)

+label(
  "{{ 'client.form.billing.vip.LABEL' | translate }}",
  "billing-ignoreAutoSuspend"
)
  +checkbox()(
    ng-model="clientForm.input.billing.ignoreAutoSuspend"
  )
    span(translate="client.form.billing.vip.IGNORE_AUTO_SUSPEND")
