doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'client.form.email.LABEL' | translate }}",
  "email"
)(
  ng-model="clientForm.input.email"
  placeholder="{{ 'client.form.email.PLACEHOLDER' | translate }}"
)

+field(
  "{{ 'client.form.password.LABEL' | translate }}",
  "password"
)(
  placeholder="{{ 'client.form.password.PLACEHOLDER' | translate }}"
  ng-model="clientForm.input.password"
)

+double-field(
  "{{ 'client.form.name.LABEL' | translate }}",
  "name", {
    "ng-model": "clientForm.input.first",
    "placeholder": "{{ 'client.form.name.first.PLACEHOLDER' | translate }}"
  }, {
    "ng-model": "clientForm.input.last",
    "placeholder": "{{ 'client.form.name.last.PLACEHOLDER' | translate }}"
  }
)

hr

+label("client.form.billing.id.LABEL")
  .row
    .col-sm-6
      +input-with-btn("fa fa-close", "clientForm.billing.integration.selected")(
        ng-click="clientForm.billing.integration.clear()"
      )
        +ui-select("clientForm.billing.integration")
          ui-select-match(placeholder="{{ 'client.form.billing.integration.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          +ui-select-choices("clientForm.billing.integration")
            span(ng-bind-html="choice.name | highlight: $select.search")
    .col-sm-6
      input.form-control(
        type="text"
        name="billing.id"
        translate-attr="{ 'placeholder': 'client.form.billing.id.PLACEHOLDER' }"
        ng-model="clientForm.input.billing.id"
        ng-disabled="!clientForm.billing.integration.selected"
      )

+label(
  "{{ 'client.form.sso_only.LABEL' | translate }}",
  "sso_only"
)
  +checkbox()(
    ng-model="clientForm.input.sso_only"
  )
    span(translate="client.form.sso_only.INFO")



+label(
  "{{ 'client.form.billing.vip.LABEL' | translate }}",
  "billing-ignoreAutoSuspend"
)
  +checkbox()(
    ng-model="clientForm.input.billing.ignoreAutoSuspend"
  )
    span(translate="client.form.billing.vip.IGNORE_AUTO_SUSPEND")

div(ng-if="!clientForm.form.input.id")
  +label("client.form.options.LABEL")
    +checkbox("client.form.options.SEND-WELCOME-EMAIL")(
    ng-model="clientForm.input.sendEmail.welcome"
    )
