.btn-group.btn-group-xl
  a.btn.btn-default(
    ng-if="buttons.client.serversCount"
    ui-sref="app.hardware.server.list({ client: buttons.client.id })"
  )
    span(translate="client.buttons.SERVERS")
    | &nbsp;
    span.badge(ng-bind="buttons.client.serversCount")
  a.btn.btn-info(
    ng-click="buttons.loginAs()"
    translate="client.buttons.LOGIN-AS"
  )
  a.btn.btn-danger(
    ng-click="buttons.delete()"
    translate="client.buttons.DELETE"
  )
