extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="speed.list.TITLE")
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    switch-speed-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    switch-speed-table.border-top-table
    list-footer

block bottom-left
  +create-form("{{ 'speed.form.title.ADD' | translate }}")
    speed-form(form="vm.create")

block bottom-right
  logs(
    title="Switch Speed Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
