doctype html
include /resources/pug/mixins/form

+field(
  "{{ 'pxe.boot.form.name.LABEL' | translate }}",
  "name"
)(
  placeholder="{{ 'pxe.boot.form.name.PLACEHOLDER' | translate }}"
  ng-model="bootForm.input.name"
)

+textarea(
  "{{ 'pxe.boot.form.body.LABEL' | translate }}",
  "body"
)(
  placeholder="{{ 'pxe.boot.form.body.PLACEHOLDER' | translate }}"
  ng-model="bootForm.input.body"
  rows="20"
)
