.relative
  .loader

  .btn-group.btn-group-lg(
    ng-init="switch = buttons.switch"
    ng-class="buttons.loader.class"
  )
    a.btn.btn-default(
      ng-if="buttons.showEdit"
      ui-sref="app.hardware.switch.view.edit({ id: buttons.switch.id })"
      translate="switch.EDIT"
    )

    a.btn.btn-default(
      ng-if="buttons.showManage"
      ui-sref="app.hardware.switch.view.manage({ id: buttons.switch.id })"
      translate="switch.MANAGE"
    )

    a.btn.btn-info(
      ui-sref="app.hardware.server.list({ switch: buttons.switch.id })"
    )
      span(translate="switch.SERVERS")
      | &nbsp;
      span.badge(ng-bind="buttons.switch.serversCount")

    a.btn.btn-danger(
      ng-click="buttons.delete()"
      translate="switch.DELETE"
    )
