doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'package.form.slug.LABEL' | translate }}"
)(
  placeholder="{{ 'package.form.slug.PLACEHOLDER' | translate }}"
  ng-model="packageForm.input.slug"
)
  p.help-block
    a(
      href="https://synergycp.com/packages"
      target="_blank"
      translate="package.form.slug.HELP"
    )
