doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'group.form.name.LABEL' | translate }}",
  "name"
)(
  placeholder="{{ 'group.form.name.PLACEHOLDER' | translate }}"
  ng-model="groupForm.input.name"
)

+field(
  "{{ 'group.form.billing_id.LABEL' | translate }}",
  "billing_id"
)(
  placeholder="{{ 'group.form.billing_id.PLACEHOLDER' | translate }}"
  ng-model="groupForm.input.billing_id"
)

+label("{{ 'group.form.options.LABEL' | translate }}")
  +checkbox()(
    ng-model="groupForm.input.reserved"
  ) {{ 'group.form.options.reserved.LABEL' | translate }}

+label("{{ 'group.form.pxe_dhcp_server.LABEL' | translate }}")
  +input-with-btn("fa fa-times-circle")(
  ng-click="groupForm.dhcp.selected = null"
  )
    +ui-select("groupForm.dhcp")
      ui-select-match(placeholder="{{ 'group.form.pxe_dhcp_server.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
      repeat="pxe_dhcp_server in groupForm.dhcp.items track by pxe_dhcp_server.id"
      refresh="groupForm.dhcp.load($select.search)"
      refresh-delay="400"
      )
        span(ng-bind-html="pxe_dhcp_server.name | highlight: $select.search")