doctype html
include /resources/angle/pug/mixins/form

+field("{{ 'user.admin.form.username.LABEL' | translate }}", "username")(
  placeholder="{{ 'user.admin.form.username.PLACEHOLDER' | translate }}"
  ng-model="adminForm.input.username"
)

+field("{{ 'user.admin.form.password.LABEL' | translate }}", "password")(
  placeholder="{{ 'user.admin.form.password.PLACEHOLDER' | translate }}"
  ng-model="adminForm.input.password"
)

+field("{{ 'user.admin.form.email.LABEL' | translate }}", "email")(
  placeholder="{{ 'user.admin.form.email.PLACEHOLDER' | translate }}"
  ng-model="adminForm.input.email"
)
  +checkbox()(
    ng-model="adminForm.input.receive_copies"
  ) {{ 'user.admin.form.receive_copies.LABEL' | translate }}

+label("{{ 'user.admin.form.access.LABEL' | translate }}")
  +checkbox()(
    ng-model="adminForm.input.access_admins"
  ) {{ 'user.admin.form.access.admin.LABEL' | translate }}
  +checkbox()(
    ng-model="adminForm.input.access_logs"
  ) {{ 'user.admin.form.access.logs.LABEL' | translate }}
