doctype html
include /resources/jade/mixins/form

+field("{{ 'admin.form.username.LABEL' | translate }}", "username")(
  placeholder="{{ 'admin.form.username.PLACEHOLDER' | translate }}"
  ng-model="adminForm.input.username"
)

+field("{{ 'admin.form.password.LABEL' | translate }}", "password")(
  placeholder="{{ 'admin.form.password.PLACEHOLDER' | translate }}"
  ng-model="adminForm.input.password"
)

+field("{{ 'admin.form.email.LABEL' | translate }}", "email")(
  placeholder="{{ 'admin.form.email.PLACEHOLDER' | translate }}"
  ng-model="adminForm.input.email"
)
  +checkbox("receive_copies")(
    ng-model="adminForm.input.receive_copies"
  ) {{ 'admin.form.receive_copies.LABEL' | translate }}

+label("{{ 'admin.form.access.LABEL' | translate }}")
  +checkbox("access_admins")(
    ng-model="adminForm.input.access_admins"
  ) {{ 'admin.form.access.admins.LABEL' | translate }}
  +checkbox("access_logs")(
    ng-model="adminForm.input.access_logs"
  ) {{ 'admin.form.access.logs.LABEL' | translate }}
