include /resources/angle/pug/mixins/form

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="entity.modal.group.TITLE")

  .modal-body.form-horizontal
    +label("{{ 'entity.modal.entities.LABEL' | translate }}")
      p.form-control-static
        span(ng-repeat="item in modal.items")
          span(ng-bind="item.name")
          br
    +label("{{ 'entity.modal.group.group.LABEL' | translate }}")
      +input-with-btn("fa fa-times-circle")(
        ng-click="modal.group.selected = null"
      )
        +ui-select("modal.group")
          ui-select-match(placeholder="{{ 'entity.modal.group.group.PLACEHOLDER' | translate }}")
            | {{ $select.selected.name }}

          +ui-select-choices("modal.group")
            span(ng-bind-html="choice.name | highlight: $select.search")
            small(ng-bind-html="' ' + choice.email | highlight: $select.search")

  .modal-footer
    button.btn.btn-secondary(
      type="button"
      ng-click="modal.$dismiss()"
      data-translate="entity.modal.group.CANCEL"
    )
    button.btn.btn-primary(
      type="submit"
      data-translate="entity.modal.group.SUBMIT"
    )
