include /resources/pug/mixins/form

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="network.entity.modal.group.TITLE")

  .modal-body.form-horizontal
    +label("{{ 'network.entity.modal.entities.LABEL' | translate }}")
      p.form-control-static
        span(ng-repeat="item in modal.items")
          span(ng-bind="item.name")
          br
    +label("{{ 'network.entity.modal.group.group.LABEL' | translate }}")
      +input-with-btn("fa fa-times-circle")(
        ng-click="modal.group.selected = null"
      )
        ui-select(ng-model="modal.group.selected")
          ui-select-match(placeholder="{{ 'network.entity.modal.group.group.PLACEHOLDER' | translate }}")
            | {{ $select.selected.name }}

          ui-select-choices(
            repeat=
              "choice in (" +
                "modal.group.items" +
                "| filter: {name: $select.search}" +
              ") track by choice.id"
            refresh="modal.group.load($select.search)"
            refresh-delay="400"
          )
            span(ng-bind-html="choice.name | highlight: $select.search")
            small(ng-bind-html="' ' + choice.email | highlight: $select.search")

  .modal-footer
    button.btn.btn-secondary(
      type="button"
      ng-click="modal.$dismiss()"
      data-translate="network.entity.modal.group.CANCEL"
    )
    button.btn.btn-primary(
      type="submit"
      data-translate="network.entity.modal.group.SUBMIT"
    )
