extends /resources/angle/pug/table-checkable

block headings
  th.sortable(ng-if="table.showName")
    span(translate="entity.heading.NAME")
    sort(col="nickname")
  th.sortable(ng-if="table.showAddr")
    span(translate="entity.heading.ADDRESS")
    sort(col="ip")
  th.sortable(ng-if="table.showGroup")
    span(translate="entity.heading.IP_GROUP")
    sort(col="ip_group")
  th.sortable(ng-if="table.showServerCount")
    span(translate="entity.heading.SERVER")
    sort(col="server")
  th.sortable(ng-if="table.showVlan")
    span(translate="entity.heading.VLAN")
    sort(col="vlan")
  th.sortable(ng-if="table.showBillingId")
    span(translate="entity.heading.BILLING_ID")
    sort(col="billing_id")
  th(
    ng-if="table.showActions"
    translate="entity.heading.ACTIONS"
  )

block columns
  td(ng-if="table.showName")
    a(
      ui-sref="app.network.entity.view({id: row.id})"
      ng-bind="row.name"
    )
  td(
    ng-if="table.showAddr"
    ng-bind="row.full_ip"
  )
  td(
    ng-if="table.showGroup"
    ng-bind="row.group.name || '-'"
  )
  td(ng-if="table.showServerCount")
    a(
      ui-sref="app.hardware.server.view.manage({id: row.owner.server.id})"
      ng-bind="row.owner.server.name"
      ng-if="row.owner.server"
    )
    span.text-muted(ng-if="!row.owner.server") -
  td(
    ng-if="table.showVlan"
    ng-bind="row.vlan"
  )
  td(
    ng-if="table.showBillingId"
    ng-bind="row.billing_id"
  )
  td(ng-if="table.showActions")
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.network.entity.view({id: row.id})"
        translate="app.action.EDIT"
      )
