extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="entity.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    entity-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    entity-table.border-top-table
    list-footer

block bottom-left
  +create-form("{{ 'entity.form.title.ADD' | translate }}")
    entity-form(form="vm.create")

block bottom-right
  logs(
    title="Entity Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
