include /resources/angle/pug/mixins/panel

.row
  .col-md-6(ng-repeat="integration in tab.list.items")
    +panel("{{integration.name}} Integration")
      .panel-body
        .col-md-8.col-md-offset-2.text-center
          p(
            ng-if="!integration.keys.length"
            data-translate="system.integration.key.EMPTY"
            data-translate-value-name="{{integration.name}}"
          )
          pre(ng-if="integration.keys.length")
            div(
              ng-repeat="key in integration.keys track by key.id"
            )
              span(ng-bind="key.key")
              | &nbsp;
              a(ng-click="tab.apiKey.del(key)")
                span.fa.fa-minus-circle
          button.btn.btn-default(
            type="button"
            ng-click="tab.apiKey.add(integration)"
            translate="system.integration.key.ADD"
            translate-value-name="{{integration.name}}"
          )
