include /resources/jade/mixins/form

.row.form-horizontal
  div.col-md-6(ng-repeat="item in tab.items")
    .form-group
      +label("{{item.name}}")
        div(ng-switch="item.type")
          div(ng-switch-when="Text")
            input.form-control(
              type="text"
              name="{{item.id}}.value"
              ng-model="item.value"
            )
          div(ng-switch-when="Select")
            select.form-control(
              name="{{item.id}}.value"
              ng-model="item.value"
              ng-options="choice.value as choice.text for choice in item.options"
            )
          div(ng-switch-when="Textarea")
            textarea.form-control(
              rows="2"
              name="{{item.id}}.value"
              ng-model="item.value"
            )
          div.checkbox(ng-switch-when="Checkbox")
            label
              input(
                type="checkbox"
                name="{{item.id}}.value"
                ng-model="item.value"
              )
