div(ng-class="vm.loader.class")
  uib-tabset(active='vm.tabs.active')
    uib-tab(
      ng-repeat="tab in vm.tabs.items track by $index"
      index="$index"
      select="vm.tabs.change($index)"
      active="tab.active"
      class="{{tab.visible ? '' : 'hidden'}}"
    )
      uib-tab-heading
        span(ng-if="tab.trans", data-translate="{{tab.trans}}")
        span(ng-if="tab.text", ng-bind="tab.text")
      div(ng-include="tab.body")

br

.row
  .col-md-6
    logs(
      heading="Setting Logs"
      filter="vm.logs.filter"
      listen-to="vm.list"
    )
