extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="permission-groups.list.TITLE")
      a.btn.btn-default(
        ng-click="vm.list.scrollToAnchor('permission-groups-edit-form')"
      )
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    permission-groups-filters(
      show="vm.filters.visible",
      current="vm.filters.current",
      change="vm.filters.change()"
    )
    permission-groups-table.border-top-table.scrollable-block
    list-footer

block bottom-left
  +create-form("permission-groups.form.title.ADD", 'permission-groups-edit-form')
    permission-groups-form(form="vm.create")

block bottom-right
  logs(
    heading="Permission Group Logs",
    filter="vm.logs.filter",
    listen-to="vm.list"
  )
