include /resources/angle/pug/mixins/form

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="server.modal.client.TITLE")

  .modal-body.form-horizontal
    +label("{{ 'server.modal.servers.LABEL' | translate }}")
      p.form-control-static
        span(ng-repeat="server in modal.servers")
          span(ng-bind="server.name")
          br
    div(ng-if="modal.mode.value === modal.mode.SEARCH")
      +label("{{ 'server.modal.client.client.LABEL' | translate }}")
        +input-with-btn("fa fa-times-circle")(
          ng-click="modal.access.client = null"
        )
          +ui-select("modal.client")(ng-model="modal.access.client")
            ui-select-match(
              placeholder="{{ 'server.modal.client.client.PLACEHOLDER' | translate }}"
            )
              span(ng-bind="$select.selected.name")

            +ui-select-choices("modal.client")
              span(ng-bind-html="choice.name | highlight: $select.search")
              small(ng-bind-html="' ' + choice.email | highlight: $select.search")

    client-form(
      ng-if="modal.mode.value === modal.mode.ADD"
      form="modal.create"
    )

    +label("{{ 'server.modal.client.access.LABEL' | translate }}")(
      ng-if="modal.access.client"
    )
      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.access.pxe"
          )
          span(translate="server.modal.client.access.PXE")

      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.access.ipmi"
          )
          span(translate="server.modal.client.access.IPMI")

      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.access.switch"
          )
          span(translate="server.modal.client.access.SWITCH")
      p.help-block(translate="server.modal.client.access.HELP")
  .modal-footer
    .pull-left
      button.btn.btn-secondary(
        type="button"
        ng-click="modal.mode.value = +!modal.mode.value"
        translate="server.modal.client.mode.{{ modal.mode.value === modal.mode.ADD ? 'SEARCH' : 'ADD' }}"
      )
    button.btn.btn-secondary(
      type="button"
      ng-click="modal.$dismiss()"
      data-translate="server.modal.client.CANCEL"
    )
    button.btn.btn-primary(
      type="submit"
      data-translate="server.modal.client.SUBMIT"
    )
