include /resources/pug/mixins/form

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="hardware.server.modal.client.TITLE")

  .modal-body.form-horizontal
    +label("{{ 'hardware.server.modal.servers.LABEL' | translate }}")
      p.form-control-static
        span(ng-repeat="server in modal.servers")
          span(ng-bind="server.name")
          br
    +label("{{ 'hardware.server.modal.client.client.LABEL' | translate }}")
      +input-with-btn("fa fa-times-circle")(
        ng-click="modal.access.client = null"
      )
        ui-select(ng-model="modal.access.client")
          ui-select-match(placeholder="{{ 'hardware.server.modal.client.client.PLACEHOLDER' | translate }}")
            | {{ $select.selected.name }}

          ui-select-choices(
            repeat=
              "choice in (" +
                "modal.client.items" +
                "| filter: {name: $select.search}" +
              ") track by choice.id"
            refresh="modal.client.load($select.search)"
            refresh-delay="400"
          )
            span(ng-bind-html="choice.name | highlight: $select.search")
            small(ng-bind-html="' ' + choice.email | highlight: $select.search")
    +label("{{ 'hardware.server.modal.client.access.LABEL' | translate }}")
      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.access.pxe"
          )
          span(translate="hardware.server.modal.client.access.PXE")

      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.access.ipmi"
          )
          span(translate="hardware.server.modal.client.access.IPMI")

      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.access.switch"
          )
          span(translate="hardware.server.modal.client.access.SWITCH")
  .modal-footer
    button.btn.btn-secondary(
      type="button"
      ng-click="modal.$dismiss()"
      data-translate="hardware.server.modal.client.CANCEL"
    )
    button.btn.btn-primary(
      type="submit"
      data-translate="hardware.server.modal.client.SUBMIT"
    )
