doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'pxe.preseed.form.name.LABEL' | translate }}",
  "name"
)(
  placeholder="{{ 'pxe.preseed.form.name.PLACEHOLDER' | translate }}"
  ng-model="preseedForm.input.name"
)

+field(
  "{{ 'pxe.preseed.form.description.LABEL' | translate }}",
  "description"
)(
  placeholder="{{ 'pxe.preseed.form.description.PLACEHOLDER' | translate }}"
  ng-model="preseedForm.input.description"
)

+textarea(
  "{{ 'pxe.preseed.form.body.LABEL' | translate }}",
  "body"
)(
  placeholder="{{ 'pxe.preseed.form.body.PLACEHOLDER' | translate }}"
  ng-model="preseedForm.input.body"
  rows="20"
)

+label("{{ 'pxe.preseed.form.is_installable.LABEL' | translate }}")
  +checkbox()(
    ng-model="preseedForm.input.is_installable"
  )
