extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="pxe.file.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.scrollToAnchor('file-edit-form')")
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    pxe-file-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    pxe-file-table.border-top-table.scrollable-block
    list-footer

block bottom-left
  +create-form("{{ 'pxe.file.form.title.ADD' | translate }}", 'file-edit-form')
    pxe-file-form(form="vm.create")

block bottom-right
  logs(
    heading="PXE Server Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
