extends /resources/angle/pug/table-checkable

block headings
  th Name
  th Group
  th Host
  th Version
  th Last Update

block columns
  td
    a(
      ui-sref="app.pxe.file.view({id: row.id})"
      ng-bind="row.name"
    )
  td(
      ng-bind="row.group.name"
    )
  td(
    ng-bind="'http'+(row.http.use_https ? 's' : '')+'://'+row.http.host+':'+ row.http.port"
  )
  td(
    ng-bind="row.health.version || '—'"
  )
  td(date="row.health.files_last_updated_at")