doctype html
.block-center.mt-xl.wd-xl(ng-controller="AuthLoginController as login")
  .auth-alerts(ng-controller="AlertController as alert")
    .alert(ng-repeat="message in alert.items", ng-class="'alert-'+message.type")
      | {{message.text}}

  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      .logo
        | {{ 'app.title' | translate }}
    .panel-body
      p.text-center.pv
        | {{ 'auth.login.SIGNIN' | translate }}
      form.form-validate.mb-lg(
        role='form'
        ng-submit="login.login()"
        name='login.loginForm'
        novalidate=''
      )
        .form-group.has-feedback
          input.form-control(
            type="text"
            name="username"
            placeholder="{{ 'auth.login.input.username.PLACEHOLDER' | translate }}"
            autocomplete="off"
            ng-model="login.account.username"
            required
          )
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(
            ng-show="login.loginForm.username.$dirty && login.loginForm.username.$error.required"
          ) This field is required
          span.text-danger(
            ng-show="login.loginForm.username.$dirty && login.loginForm.username.$error.email"
          ) This field must be a valid email address
        .form-group.has-feedback
          input.form-control(
            type='password'
            name="password"
            placeholder="{{ 'auth.login.input.password.PLACEHOLDER' | translate }}"
            ng-model="login.account.password"
            required=''
          )
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(
            ng-show="login.loginForm.password.$dirty && login.loginForm.password.$error.required"
          ) This field is required
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(
                type='checkbox'
                value=''
                name="account_remember"
                ng-model="login.account.remember"
              )
              | {{ 'auth.login.REMEMBER' | translate }}
          .pull-right
            a.text-muted(ui-sref="auth.recover")
              | {{ 'auth.login.FORGOT' | translate }}

        button.btn.btn-block.btn-primary.mt-lg(type='submit')
          | {{ 'auth.login.LOGIN' | translate }}

      .alert.alert-danger.text-center(ng-show='login.authMsg') {{login.authMsg}}
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
