uib-progressbar.progress-min-text.progress-striped.active(value="progress.install.percent")
  | {{ progress.install.percent }}%

p
  span(translate="pxe.install.progress.RELOADING")
  a.pull-right(
    ng-click="progress.delete()"
    translate="pxe.install.progress.CANCEL"
  )

span(
  translate="pxe.install.progress.OS"
  translate-value-value="{{ progress.install.profile.name }}"
)
br

span(
  translate="pxe.install.progress.STATUS"
  translate-value-value="{{ progress.install.step_desc }}"
)
br

span(
  translate="pxe.install.progress.UPDATED"
  translate-value-value="{{ progress.install.updated_at * 1000 | date:'medium' }}"
)
br

span(
  translate="pxe.install.progress.STARTED"
  translate-value-value="{{ progress.install.started_at * 1000 | date:'medium' }}"
)
