include /resources/angle/pug/mixins/form

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="server.os-reload.modal.confirm.TITLE")

  .modal-body
    .form-group
      .clearfix
        a.pull-right(
          translate="server.os-reload.modal.confirm.password.GENERATE"
          ng-click="modal.password.value = modal.password.generate()"
        )
        label.pull-left(
          for="srv-pass"
          translate="server.os-reload.modal.confirm.password.LABEL"
        )
      input.form-control(
        type="text"
        id="srv-pass"
        ng-model="modal.password.value"
        placeholder="{{ 'server.os-reload.modal.confirm.password.PLACEHOLDER' | translate }}"
      )
      p.help-block(
        translate="server.os-reload.modal.confirm.password.HELP"
      )
    .form-group
      .checkbox
        label
          input(
            type="checkbox"
            ng-model="modal.confirmed"
          )
          span(
            translate="server.os-reload.modal.confirm.CONFIRM"
          )

  .modal-footer
    button.btn.btn-secondary(
      type="button"
      ng-click="modal.$dismiss()"
      data-translate="server.os-reload.modal.confirm.CANCEL"
    )
    button.btn.btn-primary(
      type="submit"
      data-translate="server.os-reload.modal.confirm.SUBMIT"
    )
