include /resources/angle/pug/mixins/panel

+panel()
  table.table
    tbody
      tr
        th.v-mid.shrink(translate="server.assign.NICKNAME")
        td
          editable(
            value="assign.server.nickname"
            on-save="assign.saveNickname()"
          )
      tr
        th.v-mid.shrink(translate="server.assign.SRV_ID")
        td
          editable(
            value="assign.server.srv_id"
            on-save="assign.saveServerId()"
          )
      tr
        th.v-mid.shrink(translate="server.assign.client.TITLE")
        td
          .editable
            a(
              ng-if="assign.server.access"
              ui-sref="app.user.client.view(assign.server.access.client)"
              ng-bind="assign.server.access.client.name"
            )
            span(
              ng-if="!assign.server.access"
              translate="server.assign.client.NONE"
            )
            .btn.btn-default.btn-xs.editable-floater(
              ng-click="assign.client.modal()"
            )
              span.fa.fa-pencil
      tr
        th.v-mid.shrink(translate="server.assign.GROUP")
        td
          a(
            ng-if="assign.server.group"
            ui-sref="app.network.group.view(assign.server.group)"
            ng-bind="assign.server.group.name"
          )
      tr(ng-if="assign.entities.items.length")
        td(colspan="2")

      //- Start Entities
      tr(ng-repeat-start="entity in assign.entities.items")
        th.v-mid.shrink(translate="server.assign.entity.TITLE")
        td
          a(
            ui-sref="app.network.entity.view(entity)"
            ng-bind="entity.nickname"
          )

      //- Start IPv4
      tr(ng-if-start="entity.v4")
        td.shrink
          span(translate="server.assign.entity.v4.USABLE")
        td(ng-bind="entity.v4.full")
      tr
        td.shrink
          span(translate="server.assign.entity.v4.GATEWAY")
        td(ng-bind="entity.v4.gateway")
      tr(ng-if-end)
        td.shrink
          span(translate="server.assign.entity.v4.SUBNET")
        td(ng-bind="entity.v4.subnet_mask")
      //- End IPv4

      //- Start IPv6
      tr(ng-if-start="entity.v6")
        td.shrink
          span(translate="server.assign.entity.v6.ADDRESS")
        td(ng-bind="entity.v6.address")
      tr(ng-if-end, ng-repeat-end)
        td.shrink
          span(translate="server.assign.entity.v6.GATEWAY")
        td(ng-bind="entity.v6.gateway")
      //- End IPv6
      //- End Entities
