.panel.panel-inverse.panel-flat(
  ng-controller="AuthLoginCtrl as login"
)
  .panel-heading.text-center
    .logo(translate="auth.TITLE")
  .panel-body
    p.text-center.pv(translate="auth.login.SIGNIN")
    form.form-validate.mb-lg(
      role="form"
      ng-submit="login.login()"
      name="login.loginForm"
      novalidate=""
    )
      .form-group.has-feedback
        input.form-control(
          type="text"
          name="username"
          placeholder="{{ 'auth.login.input.username.PLACEHOLDER' | translate }}"
          autocomplete="off"
          ng-model="login.account.username"
          required
        )
        span.fa.fa-envelope.form-control-feedback.text-muted
        span.text-danger(
          ng-show="login.loginForm.username.$dirty && login.loginForm.username.$error.required"
          translate="auth.login.input.username.REQUIRED"
        )
      .form-group.has-feedback
        input.form-control(
          type="password"
          name="password"
          placeholder="{{ 'auth.login.input.password.PLACEHOLDER' | translate }}"
          ng-model="login.account.password"
          required
        )
        span.fa.fa-lock.form-control-feedback.text-muted
        span.text-danger(
          ng-show="login.loginForm.password.$dirty && login.loginForm.password.$error.required"
          translate="auth.login.input.password.REQUIRED"
        )
      .clearfix
        .checkbox.c-checkbox.pull-left.mt0
          label
            input(
              type="checkbox"
              name="account_remember"
              ng-model="login.account.remember"
              value=""
            )
            span(translate="auth.login.REMEMBER")
        .pull-right
          a.text-muted(
            ui-sref="auth.reset.forgot"
            translate="auth.login.FORGOT"
          )

      button.btn.btn-block.btn-primary.mt-lg(
        type="submit"
        translate="auth.login.LOGIN"
      )

    .alert.alert-danger.text-center(
      ng-show="login.authMsg"
      ng-bind="login.authMsg"
    )
