// Inline template with nav items markup and ng-directives
script(type="text/ng-template", id="top-nav-renderer.html")
  a.relative(
    ng-if="!item.options.heading && item.options.sref"
    ng-class="{ 'ico-link': !!item.options.icon }"
    ng-include="'top-nav-link.html'"
    title="{{item.options.text}}"
    ui-sref="{{item.options.sref}}(item.options.params)"
    md-ink-ripple
  )

  a.relative(
    ng-if="!item.options.heading && !item.options.sref"
    ng-class="{ 'ico-link': !!item.options.icon }"
    ng-include="'top-nav-link.html'"
    title="{{item.options.text}}"
  )

  ul.nav.nav-subnav.collapse(
    ng-if="item.submenu && item.submenu.length"
  )
    li.nav-subnav-header(
      ng-bind="(item.options.translate | translate) || item.options.text"
    )
    li(
      ng-repeat="item in item.submenu"
      ng-include="'top-nav-renderer.html'"
      ng-class="nav.getMenuItemPropClasses(item)"
      ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true"
    )

script(type="text/ng-template", id="top-nav-link.html")
  b.label(
    ng-repeat="alert in item.alerts"
    class="label-{{alert.type}}"
    ng-if="alert.count"
    ng-bind="alert.count"
  )
  b.label(
    ng-if="item.options.alert"
    class="label-{{item.options.alertType || 'success'}}"
    ng-bind="item.options.alert"
  )
  em.ico(
    ng-if="item.options.icon"
    ng-class="item.options.icon"
  )
  span.link-text(
    ng-bind="(item.options.translate | translate) || item.options.text"
  )

ul.nav.navbar-nav.top-nav-links(ng-controller="NavCtrl as nav")
  li
    // Button to show/hide the sidebar on mobile. Visible on mobile only.
    a(
      href=''
      ng-click="app.asideToggled = !app.asideToggled"
      md-ink-ripple
    ).visible-xs.sidebar-toggle
      em.fa.fa-navicon
  // Iterates over all nav items
  li(
    ng-class="nav.getMenuItemPropClasses(item)"
    ng-repeat="item in nav.items"
    ng-init="pIndex = $index"
    ng-include="'top-nav-renderer.html'"
    ng-click="nav.toggleCollapse(pIndex, true)"
  )
