form.search-navbar(
  role="search"
  ui-sref="app.search({ q: search.query })"
)
  .form-group.has-feedback.search-form
    input.search-input(
      type="text"
      ng-model="search.query"
      ng-change="search.changed()"
      placeholder="{{ 'app.topbar.search.PLACEHOLDER' | translate }}"
    )
    //.fa.fa-times.form-control-feedback(search-dismiss)
  em.fa.fa-search.search-icon
  button.hidden(type="submit")
