mixin field(label, name)
  +label(label, name)
    input.form-control(
      type="text"
      id="form-"+name
    )&attributes(attributes)
    block

mixin double-field(label, name, fattrs, sattrs, dualClass)
  .form-group.dual-input(
    class=dualClass
  )
    label.control-label.col-md-3.col-sm-2(for="form-"+name)=label
    .col-md-9.col-sm-10
      div.first-input
        input.form-control(
          type="text"
          id="form-"+name
        )&attributes(fattrs)
      div.second-input
        input.form-control(
          type="text"
        )&attributes(sattrs)
      block

mixin textarea(label, name)
  +label(label, name)
    textarea.form-control(
      id="form-"+name
    )&attributes(attributes)
    block

mixin checkbox(label, name)
  .checkbox
    label
      input(
        type="checkbox"
        name=name
      )&attributes(attributes)
      span(translate=label)
      block

mixin select(label, name)
  +label(label, name)
    select.form-control(
      id="form-"+name
    )&attributes(attributes)
      block

mixin label(label, name)
  .form-group
    label.control-label.col-md-3.col-sm-2(
      for="form-"+name
      translate=label
    )
    .col-md-9.col-sm-10
      block

mixin icon-label(label, name)
  .form-group
    label.control-label.col-xs-1&attributes(attributes)
    label.control-label.col-md-2.col-sm-1.col-xs-11(for="form-"+name)=label
    .col-md-9.col-sm-10
      block

mixin input-with-btn(iconClass)
  .input-group
    block
    span.input-group-btn
      button.btn.btn-default(
        type="button"
      )&attributes(attributes)
        span(class=iconClass)

mixin ui-select(select)
  table(style="width: 100%; table-layout: fixed !important; border: 0")
    tr
      td
        ui-select(
          ng-model=select+".selected"
          ng-change=select+".fireChangeEvent()"
        )&attributes(attributes)
          block
