list.panel.panel-default(
  ng-if="scans.list"
  list="scans.list"
)
  list-header(text="switch.scan.list.TITLE")
    a.btn.btn-default(
      ng-click="scans.list.create()"
    )
      i.fa.fa-plus
    a.btn.btn-default(ng-click="scans.list.refresh.now()")
      i.fa.fa-refresh
  switch-scan-table.border-top-table(
    ng-if="scans.list.items.length"
  )
  .panel-body.text-center(
    ng-if="!scans.list.items.length"
  )
    p(translate="switch.scan.list.empty.BODY")
    a.btn.btn-primary(
      ng-click="scans.list.create()"
    )
      i.fa.fa-plus
      |  &nbsp;&nbsp;
      span(translate="switch.scan.list.empty.CREATE")

  list-footer
