extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="admin.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.scrollToAnchor('admin-edit-form')")
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    admin-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    admin-table.border-top-table
    list-footer

block bottom-left
  +create-form("{{ 'admin.form.title.ADD' | translate }}", 'admin-edit-form')
    admin-form(form="vm.create")

block bottom-right
  logs(
    heading="Administrator Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
