.panel-body.text-center(
  ng-if="!bandwidth.chart.isActive && !bandwidth.chart.firstLoad"
)
  h3(
    translate="bandwidth.not-enabled.TITLE"
    translate-value-name="{{ bandwidth.target.name }}"
  )
  p(
    translate="bandwidth.not-enabled.TEXT"
    translate-value-type="{{ bandwidth.target.type }}"
  )

div(
  ng-if="bandwidth.chart.isActive || bandwidth.chart.firstLoad"
  ng-class="{ transparent: bandwidth.chart.loading }"
)
  div.panel-body.text-center(
    ng-if="!bandwidth.chart.hasData && !bandwidth.chart.firstLoad"
  )
    h3(translate="bandwidth.no-data.TITLE")
    p(
      translate="bandwidth.no-data.TEXT"
      translate-value-name="{{ bandwidth.target.name }}"
    )

  div.panel-body.text-center(
    ng-if="bandwidth.chart.hasData && !bandwidth.chart.hasFilteredData"
  )
    h3(translate="bandwidth.no-data-period.TITLE")
    p(
      translate="bandwidth.no-data-period.TEXT"
      translate-value-period="{{ bandwidth.filter.range }}"
    )

  div.bandwidth-plot-holder(
    ng-if="(bandwidth.chart.isActive && bandwidth.chart.hasFilteredData) || bandwidth.chart.firstLoad"
  )
    canvas.chart.chart-line.bandwidth-plot(
      chart-data="bandwidth.chart.data"
      chart-labels="bandwidth.chart.labels"
      chart-series="bandwidth.chart.series"
      chart-options="bandwidth.chart.options"
      chart-dataset-override="bandwidth.chart.dataSetOptions"
      width="{{bandwidth.chart.width}}"
      height="{{bandwidth.chart.height}}"
    )
