extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="system.notification.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.scrollToAnchor('notification-edit-form')")
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    notification-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    notification-table.border-top-table.scrollable-block
    list-footer

block bottom-left
  +create-form("{{ 'system.notification.form.title.ADD' | translate }}", 'notification-edit-form')
    notification-form(
      form="vm.create"
      is-creation-mode="true"
    )


block bottom-right
  logs(
    heading="Notification Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
