include /resources/angle/pug/mixins/panel


form(
  ng-submit="modal.create.submit()"
  id='create-client-form-modal'
)
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="client.form.title.ADD")

  .modal-body
    .panel-body.form-horizontal
      client-form(form="modal.create")

  .modal-footer
    .pull-right
      input.btn.btn-secondary(
        type="button"
        ng-click="modal.$dismiss()"
        translate-attr="{ value: 'client.modal.create.CANCEL' }"
      )
      input.btn.btn-info(
        type="submit"
        translate-attr="{ value: 'client.form.title.ADD' }"
      )
