doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'switch.form.name.LABEL' | translate }}",
  "name"
)(
  placeholder="{{ 'switch.form.name.PLACEHOLDER' | translate }}"
  ng-model="switchForm.input.name"
)

+select(
  "{{ 'switch.form.type.LABEL' | translate }}",
  "type"
)(
  placeholder="{{ 'switch.form.type.PLACEHOLDER' | translate }}"
  ng-model="switchForm.input.type"
  ng-options="value.slug as value.name for value in switchForm.switchTypes"
)

+label("{{ 'switch.form.network.LABEL' | translate }}")
  .row 
    .col-xs-8 
      input.form-control(
        type="text"
        placeholder="{{ 'switch.form.network.ip.PLACEHOLDER' | translate }}"
        ng-model="switchForm.input.ip"
      )
    .col-xs-4 
      input.form-control(
        type="text"
        placeholder="{{ 'switch.form.network.port.PLACEHOLDER' | translate }}"
        ng-model="switchForm.input.port"
      )

+label("{{ 'switch.form.ssh.LABEL' | translate }}")
  .row 
    .col-xs-6
      input.form-control(
        type="text"
        placeholder="{{ 'switch.form.ssh.username.PLACEHOLDER' | translate }}"
        ng-model="switchForm.input.ssh_user"
      )
    .col-xs-6 
      input.form-control(
        type="text"
        placeholder="{{ 'switch.form.ssh.password.PLACEHOLDER' | translate }}"
        ng-model="switchForm.input.ssh_pass"
      )

+field(
  "{{ 'switch.form.enable.LABEL' | translate }}",
  "enable"
)(
  placeholder="{{ 'switch.form.enable.PLACEHOLDER' | translate }}"
  ng-model="switchForm.input.ssh_en_pass"
)

+field(
  "{{ 'switch.form.snmp.LABEL' | translate }}",
  "snmp"
)(
  placeholder="{{ 'switch.form.snmp.PLACEHOLDER' | translate }}"
  ng-model="switchForm.input.snmp_pass"
)


+label("{{ 'switch.form.group.LABEL' | translate }}")
  +ui-select("switchForm.groups")(
    multiple
    theme="bootstrap"
    close-on-select="false"
  )
    ui-select-match(placeholder="{{ 'switch.form.group.LABEL' | translate }}")
      | {{ $item.name }}

    ui-select-choices(
      repeat=
        "group in (" +
          "switchForm.groups.items |" +
          "filter: {name: $select.search} |" +
          "filter: switchForm.groups.notSelected" +
        ") track by group.id"
      refresh="switchForm.groups.load($select.search)"
      refresh-delay="400"
    )
      div(ng-bind-html="group.name | highlight: $select.search")
        small servers: {{ group.serversCount }}

+select(
  "{{ 'switch.form.options.snmp_version.LABEL' | translate }}",
  "snmp_version"
)(
  placeholder="{{ 'switch.form.options.snmp_version.PLACEHOLDER' | translate }}"
  ng-model="switchForm.input.snmp_version"
  ng-options="'switch.form.options.snmp_version.'+version | translate for (version,value) in switchForm.SNMP_VERSION"
)

+label("{{ 'switch.form.options.LABEL' | translate }}")
  +checkbox("{{ 'switch.form.options.allow_vlan_tagging.LABEL' | translate }}")(
    ng-model="switchForm.input.allow_vlan_tagging"
  )
  +checkbox("{{ 'switch.form.options.snmp_use_32_bit.LABEL' | translate }}")(
    ng-model="switchForm.input.snmp_use_32_bit"
  )
