include /resources/angle/pug/mixins/form

.panel-body.form-horizontal(ng-show="filters.show")
  .row
    .col-md-6
      +label("{{ 'server.list.filter.search.LABEL' | translate }}")
        +search-field()(
          ng-model="filters.current.q"
          placeholder="{{ 'server.list.filter.search.PLACEHOLDER' | translate }}"
          ng-change="filters.fireChangeEvent()"
          observable-focus="filters.searchFocus"
        )
      +label("{{ 'server.list.filter.group.LABEL' | translate }}")
        +input-with-btn("fa fa-times-circle")(ng-click="filters.group.clear()")
          +ui-select("filters.group")(multiple)
            ui-select-match(placeholder="{{ 'server.list.filter.group.PLACEHOLDER' | translate }}")
              span(ng-bind="$item.name" class="ui-select-match-item")

            ui-select-choices(
            repeat="choice in filters.group.items track by choice.id"
            refresh="filters.group.load($select.search)"
            refresh-delay="400"
            )
              span(ng-bind-html="choice.name | highlight: $select.search")
      +label("{{ 'server.list.filter.cpu.LABEL' | translate }}")
        +input-with-btn("fa fa-times-circle")(ng-click="filters.cpu.clear()")
          +ui-select("filters.cpu")(multiple)
            ui-select-match(placeholder="{{ 'server.list.filter.cpu.PLACEHOLDER' | translate }}")
              span(ng-bind="$item.name")

            ui-select-choices(
              repeat="choice in filters.cpu.items track by choice.id"
              refresh="filters.cpu.load($select.search)"
              refresh-delay="400"
            )
              span(ng-bind-html="choice.name | highlight: $select.search")
      +label("{{ 'server.list.filter.mem.LABEL' | translate }}")
        +input-with-btn("fa fa-times-circle")(ng-click="filters.mem.clear()")
          +ui-select("filters.mem")(multiple)
            ui-select-match(placeholder="{{ 'server.list.filter.mem.PLACEHOLDER' | translate }}")
              span(ng-bind="$item.name")

            ui-select-choices(
              repeat="choice in filters.mem.items track by choice.id"
              refresh="filters.mem.load($select.search)"
              refresh-delay="400"
            )
              span(ng-bind-html="choice.name | highlight: $select.search")
      div(ng-repeat="disk in filters.disks.items track by $index")
        +icon-label("server.list.filter.hdd.LABEL")(
          class="fa"
          ng-class=
            "'fa-'+($index ? 'minus' : 'plus')+'-circle '" +
            "+($index || filters.disks.items.length < filters.disks.max ? '' : 'disabled ')"
          ng-click="$index ? filters.disks.rem($index) : filters.disks.add(disk.selected)"
        )
          +input-with-btn("fa fa-times-circle")(
            ng-click="$index ? filters.disks.rem($index) : disk.clear()"
          )
            +ui-select("disk")
              ui-select-match(placeholder="{{ 'server.list.filter.hdd.PLACEHOLDER' | translate }}")
                span(ng-bind="$select.selected.name")

              ui-select-choices(
                repeat="choice in disk.items track by choice.id"
                refresh="disk.load($select.search)"
                refresh-delay="400"
              )
                span(ng-bind-html="choice.name | highlight: $select.search")
      div(ng-repeat="addon in filters.addons.items track by $index")
        +icon-label("server.list.filter.addon.LABEL")(
          class="fa"
          ng-class=
            "'fa-'+($index ? 'minus' : 'plus')+'-circle '" +
            "+($index || filters.addons.items.length < filters.addons.max ? '' : 'disabled ')"
          ng-click="$index ? filters.addons.rem($index) : filters.addons.add(addon.selected)"
        )
          +input-with-btn("fa fa-times-circle")(
            ng-click="$index ? filters.addons.rem($index) : addon.clear()"
          )
            +ui-select("addon")
              ui-select-match(placeholder="{{ 'server.list.filter.hdd.PLACEHOLDER' | translate }}")
                span(ng-bind="$select.selected.name")

              ui-select-choices(
                repeat="choice in addon.items track by choice.id"
                refresh="addon.load($select.search)"
                refresh-delay="400"
              )
                span(ng-bind-html="choice.name | highlight: $select.search")

    .col-md-6
      +label("{{ 'server.list.filter.client.LABEL' | translate }}")(
        ng-if="filters.showClient"
      )
        +input-with-btn("fa fa-times-circle")(ng-click="filters.client.clear()")
          +ui-select("filters.client")(multiple)
            ui-select-match(placeholder="{{ 'server.list.filter.client.PLACEHOLDER' | translate }}")
              span(ng-bind="$item.name")

            ui-select-choices(
              repeat="choice in filters.client.items track by choice.id"
              refresh="filters.client.load($select.search)"
              refresh-delay="400"
            )
              span(ng-bind-html="choice.name | highlight: $select.search")
      +label("server.list.filter.billing.LABEL")
        .row
          .col-sm-6
            +input-with-btn("fa fa-close", "filters.billing.integration.selected")(
              ng-click="filters.clearBilling()"
            )
              +ui-select("filters.billing.integration")
                ui-select-match(placeholder="{{ 'server.list.filter.billing.integration.PLACEHOLDER' | translate }}")
                  span(ng-bind="$select.selected.name")

                +ui-select-choices("filters.billing.integration")
                  span(ng-bind-html="choice.name | highlight: $select.search")
          .col-sm-6
            input.form-control(
              type="text"
              translate-attr="{ 'placeholder': 'server.list.filter.billing.id.PLACEHOLDER' }"
              ng-model="filters.billing.id"
              ng-disabled="!filters.billing.integration.selected"
              ng-change="filters.fireChangeEvent()"
            )
      +label("{{ 'server.list.filter.switch.LABEL' | translate }}")
        +input-with-btn("fa fa-times-circle")(ng-click="filters.switch.clear()")
          +ui-select("filters.switch")(multiple)
            ui-select-match(placeholder="{{ 'server.list.filter.switch.PLACEHOLDER' | translate }}")
              span(ng-bind="$item.name")

            ui-select-choices(
            repeat="choice in filters.switch.items track by choice.id"
            refresh="filters.switch.load($select.search)"
            refresh-delay="400"
            )
              span(ng-bind-html="choice.name | highlight: $select.search")
      +label("{{ 'server.list.filter.bw.LABEL' | translate }}")
        .row
          .col-xs-5
            input.form-control(
              type="text"
              placeholder="{{ 'server.list.filter.bw.PLACEHOLDER' | translate }}"
              ng-model="filters.bw.min"
              ng-change="filters.fireChangeEvent()"
            )
          .col-xs-2.text-center.p-sm
            span —
          .col-xs-5
            input.form-control(
              type="text"
              placeholder="{{ 'server.list.filter.bw.PLACEHOLDER' | translate }}"
              ng-model="filters.bw.max"
              ng-change="filters.fireChangeEvent()"
            )
