doctype html
include /resources/jade/mixins/form

+field(
  "{{ 'pxe.shell.form.name.LABEL' | translate }}",
  "name"
)(
  placeholder="{{ 'pxe.shell.form.name.PLACEHOLDER' | translate }}"
  ng-model="vm.input.name"
)

+field(
  "{{ 'pxe.shell.form.description.LABEL' | translate }}",
  "description"
)(
  placeholder="{{ 'pxe.shell.form.description.PLACEHOLDER' | translate }}"
  ng-model="vm.input.description"
)

+textarea(
  "{{ 'pxe.shell.form.body.LABEL' | translate }}",
  "body"
)(
  placeholder="{{ 'pxe.shell.form.body.PLACEHOLDER' | translate }}"
  ng-model="vm.input.body"
  rows="20"
)
