include /resources/angle/pug/mixins/panel

div(
  ng-class="switchControl.loader.class"
)
  .loader
  uib-tabset(
    active="switchControl.tabs.active"
    ng-if="switchControl.ports.length"
    style="margin-bottom: 15px"
  )
    uib-tab(
      ng-repeat="port in switchControl.ports"
      index="$index"
      select="switchControl.tabs.change(bandwidth)"
      active="bandwidth.active"
    )
      uib-tab-heading
        span(ng-bind="port.switch.port.name")

      div(style="margin: -12px -21px -11px")
        server-switch-port-control(
          server="switchControl.server"
          port="port"
        )

  .panel.panel-default(
    ng-if="!switchControl.ports.length"
  )
    .panel-body.text-center
      p(translate="server.switch.NOT_ENABLED")
      a.btn.btn-primary(
        translate="server.EDIT"
        ui-sref="app.hardware.server.view.edit({ id: switchControl.server.id })"
      )

