extends list.index.pug

block table
  server-table.border-top-table(
    show-ip="false"
    show-client="false"
    show-nickname="false"
    show-ram="true"
    show-hdds="true"
    show-usage="false"
  )
