extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="server.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.scrollToAnchor('server-create-form')")
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    server-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    server-table.border-top-table
    list-footer

block bottom-left
  +create-form("{{ 'server.form.title.ADD' | translate }}", 'server-create-form', "vm.create.form")
    server-form(
      form="vm.create"
      always-dirty="true"
      is-creating="true"
    )

block bottom-right
  logs(
    heading="Server Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
