extends list.index.pug

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="server.inventory.TITLE")
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    server-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    server-table.border-top-table(
      show-ip="false"
      show-client="false"
      show-nickname="false"
      show-status="false"
      show-ram="true"
      show-hdds="true"
    )
    list-footer
