extends /resources/angle/pug/table-checkable

block headings
  th.sortable(ng-if="table.showSrvId")
    span(translate="server.heading.SRV_ID")
    sort(col="srv_id")
  th.sortable(ng-if="table.showNickname")
    span(translate="server.heading.NICKNAME")
    sort(col="nickname")
  th.sortable(ng-if="table.showIp")
    span(translate="server.heading.IP")
    sort(col="ip")
  th.sortable(ng-if="table.showClient")
    span(translate="server.heading.CLIENT")
    sort(col="client")
  th.sortable(ng-if="table.showStatus")
    span(translate="server.heading.STATUS")
    sort(col="status")
  th.sortable(ng-if="table.showCpu")
    span(translate="server.heading.CPU")
    sort(col="cpu")
  th.sortable(ng-if="table.showRam")
    span(translate="server.heading.RAM")
    sort(col="mem")
  th.sortable(ng-if="table.showHdds")
    span(translate="server.heading.HDDS")
    sort(col="hdds")
  th.sortable(ng-if="table.showSwitch")
    span(translate="server.heading.SWITCH")
    sort(col="switch")
  th.sortable(ng-if="table.showGroup")
    span(translate="server.heading.GROUP")
    sort(col="group")
  th.sortable(ng-if="table.showUsagePercent")
    span(translate="server.heading.usage.PERCENT")
    sort(col="usage.percent")
  th.sortable(ng-if="table.showUsageMax")
    span(translate="server.heading.usage.MAX")
    sort(col="usage.max")
  th Actions

block columns
  td(ng-if="table.showSrvId")
    a(
      ui-sref="app.hardware.server.view.manage({id: row.id})"
      ng-bind="row.srv_id"
    )
  td(
    ng-if="table.showNickname"
    ng-bind="row.nickname"
  )
  td(
    ng-if="table.showIp"
    ng-bind="row.entity.name || '-'"
  )
  td(ng-if="table.showClient")
    a(
      ng-if="row.access"
      ui-sref="app.user.client.view({id: row.access.client.id})"
      ng-bind="row.access.client.name"
    )
    span(ng-if="!row.access") -
  td(
    ng-if="table.showStatus"
    ng-bind="row.status_desc"
  )
  td(
    ng-if="table.showCpu"
    ng-bind="row.cpu.name"
  )
  td(
    ng-if="table.showRam"
    ng-bind="row.mem.name"
  )
  td(ng-if="table.showHdds")
    span(ng-repeat="hdd in row.hdd_counts track by hdd.value")
      span(ng-if="hdd.key > 1", ng-bind="hdd.key+'x '")
      span(ng-bind="hdd.value + ($last ? '' : ',')")
      br

  td(
    ng-if="table.showSwitch"
  )
    span(ng-bind="row.switch.name || '-'")
    span(ng-bind="row.switch.port ? ' - ' + row.switch.port.name : ''")
  td(
    ng-if="table.showGroup"
    ng-bind="row.group.name || '-'"
  )
  td(ng-if="table.showUsagePercent")
    span(ng-if="row.usage")
      span(ng-bind="row.usage.percent")
      | %
    span.text-muted(ng-if="!row.usage") -
  td(ng-if="table.showUsageMax")
    span(ng-if="row.usage")
      span(ng-bind="row.usage.max | bitsToSize")
    span.text-muted(ng-if="!row.usage") -
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.hardware.server.view.edit({id: row.id})"
      )
        i.fa.fa-pencil

      a.btn.btn-default(
        ui-sref="app.hardware.server.view.manage({id: row.id})"
      )
        | &nbsp;
        span(translate="server.table-action.MANAGE")
        | &nbsp;

      a.btn.btn-default(
        ng-if="!row.access"
        ui-sref="app.hardware.server.provision({ 'server.id': row.id })"
      )
        i.fa.fa-download
