doctype html
include /resources/angle/pug/mixins/form

+label("{{ 'server.modal.client.client.LABEL' | translate }}")
  +input-with-btn("fa fa-plus")(
    ng-click="provisionForm.createClient()"
  )
    +ui-select("provisionForm.client")
      ui-select-match(placeholder="{{ 'server.modal.client.client.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="client in provisionForm.client.items track by client.id"
        refresh="provisionForm.client.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="client.name | highlight: $select.search")

div(ng-if="!provisionForm.serverId")
  +label("{{ 'server.form.group.LABEL' | translate }}")
    +ui-select("provisionForm.group")(
      ng-disabled="!provisionForm.client.selected"
    )
      ui-select-match(placeholder="{{ 'server.form.group.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="group in provisionForm.group.items track by group.id"
        refresh="provisionForm.group.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="group.name | highlight: $select.search")

  +label("{{ 'server.form.cpu.LABEL' | translate }}")
    +ui-select("provisionForm.cpu")(
      ng-disabled="!provisionForm.group.selected"
    )
      ui-select-match(placeholder="{{ 'server.form.cpu.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="cpu in provisionForm.cpu.items track by cpu.id"
        refresh="provisionForm.cpu.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="cpu.name | highlight: $select.search")

  +label("{{ 'server.form.mem.LABEL' | translate }}")
    +ui-select("provisionForm.mem")(
      ng-disabled="!provisionForm.cpu.selected"
    )
      ui-select-match(placeholder="{{ 'server.form.mem.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="mem in provisionForm.mem.items track by mem.id"
        refresh="provisionForm.mem.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="mem.name | highlight: $select.search")

  div(ng-repeat="disk in provisionForm.disks.items track by $index")
    +icon-label("{{ 'server.form.disk.LABEL' | translate }}")(
      class="fa"
      ng-class=
        "'fa-'+($index ? 'minus' : 'plus')+'-circle '" +
        "+($index || provisionForm.disks.items.length < provisionForm.disks.max ? '' : 'disabled ')"
      ng-click="$index ? provisionForm.disks.rem($index) : provisionForm.disks.add()"
    )
      +ui-select("disk")(
        ng-disabled="!(provisionForm.disks.items[$index-1] || provisionForm.mem).selected"
      )
        ui-select-match(placeholder="{{ 'server.form.disk.PLACEHOLDER' | translate }}")
          span(ng-bind="$select.selected.name")

        ui-select-choices(
          repeat="choice in disk.items track by choice.id"
          refresh="disk.load($select.search)"
          refresh-delay="400"
        )
          span(ng-bind-html="choice.name | highlight: $select.search")

  div(ng-repeat="addOn in provisionForm.addOns.items track by $index")
    +icon-label("{{ 'server.form.add-on.LABEL' | translate }}")(
      class="fa"
      ng-class="'fa-'+($index ? 'minus' : 'plus')+'-circle'"
      ng-click="$index ? provisionForm.addOns.rem($index) : provisionForm.addOns.add()"
    )
      +input-with-btn("fa fa-times-circle")(
        ng-click="addOn.selected = null"
      )
        +ui-select("addOn")(
          ng-disabled="!(provisionForm.addOns.items[$index-1] || provisionForm.disks.items[0]).selected"
        )
          ui-select-match(placeholder="{{ 'server.form.add-on.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          ui-select-choices(
            repeat="choice in addOn.items track by choice.id"
            refresh="addOn.load($select.search)"
            refresh-delay="400"
          )
            span(ng-bind-html="choice.name | highlight: $select.search")

+label("{{ 'server.provision.server.LABEL' | translate }}")
  p.form-control-static(ng-if="provisionForm.serverId")
    a(ui-sref="app.hardware.server.view.manage({id: provisionForm.serverId})")
      span(ng-bind="provisionForm.server.selected.srv_id")

  +ui-select("provisionForm.server")(
    ng-if="!provisionForm.serverId"
  )
    ui-select-match(placeholder="{{ 'server.provision.server.PLACEHOLDER' | translate }}")
      span(ng-bind="$select.selected.srv_id")

    ui-select-choices(
      repeat="choice in provisionForm.server.items track by choice.id"
      refresh="provisionForm.server.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="choice.srv_id | highlight: $select.search")

+label("{{ 'server.form.entities.LABEL' | translate }}")
  entity-multi-select(
    placeholder="server.form.entities.PLACEHOLDER"
    select="provisionForm.entities"
  )

+label("{{ 'server.form.switch.speed.LABEL' | translate }}")
  +ui-select("provisionForm.switchSpeed")
    ui-select-match(placeholder="{{ 'server.form.switch.speed.PLACEHOLDER' | translate }}")
      span(ng-bind="$select.selected.name")

    ui-select-choices(
      repeat="switchSpeed in provisionForm.switchSpeed.items track by switchSpeed.id"
      refresh="provisionForm.switchSpeed.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="switchSpeed.name | highlight: $select.search")

+label("{{ 'server.provision.profile.LABEL' | translate }}")
  +ui-select("provisionForm.profile")
    ui-select-match(placeholder="{{ 'server.provision.profile.PLACEHOLDER' | translate }}")
      span(ng-bind="$select.selected.name")

    ui-select-choices(
      repeat="choice in provisionForm.profile.items track by choice.id"
      refresh="provisionForm.profile.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="choice.name | highlight: $select.search")

div(ng-if="provisionForm.profile.hasIso")
  +label("{{ 'server.provision.edition.LABEL' | translate }}")
    +ui-select("provisionForm.edition")
      ui-select-match(placeholder="{{ 'server.provision.edition.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="choice in provisionForm.edition.items track by choice.id"
        refresh="provisionForm.edition.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="choice.name | highlight: $select.search")

  +field(
    "{{ 'server.provision.license_key.LABEL' | translate }}",
    "license_key"
  )(
    placeholder="{{ 'server.provision.license_key.PLACEHOLDER' | translate }}"
    ng-model="provisionForm.input.license_key"
  )
    p.help-block(data-translate="server.provision.license_key.HELP")

+field(
  "{{ 'server.provision.password.LABEL' | translate }}",
  "billing.id"
)(
  placeholder="{{ 'server.provision.password.PLACEHOLDER' | translate }}"
  ng-model="provisionForm.input.password"
)

+label("server.form.billing.id.LABEL")
  .row
    .col-sm-6
      +input-with-btn("fa fa-close", "provisionForm.billing.integration.selected")(
        ng-click="provisionForm.billing.integration.clear()"
      )
        +ui-select("provisionForm.billing.integration")
          ui-select-match(placeholder="{{ 'server.form.billing.integration.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          +ui-select-choices("provisionForm.billing.integration")
            span(ng-bind-html="choice.name | highlight: $select.search")
    .col-sm-6
      input.form-control(
        type="text"
        name="billing.id"
        translate-attr="{ 'placeholder': 'server.form.billing.id.PLACEHOLDER' }"
        ng-model="provisionForm.input.billing.id"
        ng-disabled="!provisionForm.billing.integration.selected"
      )

+label(
  "{{ 'server.form.billing.date.LABEL' | translate }}",
  "billing.date"
)
  +input-with-btn("fa fa-close")(
    ng-click="provisionForm.billing.date.value = ''"
  )
    input.form-control(
      type="text"
      id="form-billing.date"
      placeholder="{{ 'server.form.billing.date.PLACEHOLDER' | translate }}"
      date-range-picker=""
      options="provisionForm.billing.date.options"
      ng-model="provisionForm.billing.date.value"
    )

+field(
  "{{ 'server.form.billing.max_bandwidth.LABEL' | translate }}",
  "billing.max_bandwidth"
)(
  placeholder="{{ 'server.form.billing.max_bandwidth.PLACEHOLDER' | translate }}"
  ng-model="provisionForm.input.billing.max_bandwidth"
)

+field(
  "{{ 'server.form.nickname.LABEL' | translate }}",
  "nickname"
)(
  placeholder="{{ 'server.form.nickname.PLACEHOLDER' | translate }}"
  ng-model="provisionForm.input.nickname"
)

+label("{{ 'server.modal.client.access.LABEL' | translate }}")
  +checkbox()(
    ng-model="provisionForm.input.access.ipmi"
  )
    span(translate="server.modal.client.access.IPMI")
  +checkbox()(
    ng-model="provisionForm.input.access.switch"
  )
    span(translate="server.modal.client.access.SWITCH")
  +checkbox()(
    ng-model="provisionForm.input.access.pxe"
  )
    span(translate="server.modal.client.access.PXE")
