include /resources/angle/pug/mixins/panel

.row
  .col-md-6
    form(
      ng-submit="vm.submit()"
      ng-class="vm.loader.class"
    )
      .loader
      +panel("{{ 'server.provision.TITLE' | translate }}")
        .panel-body
          provision-form.form-horizontal(
            form="vm.form"
            server-id="vm.input.serverId"
            client-id="vm.input.clientId"
          )
        .panel-footer.clearfix
          .pull-right
            button.btn.btn-primary(
              type="submit"
              data-translate="server.provision.SUBMIT"
            )
