doctype html
include /resources/jade/mixins/form

+field(
  "{{ 'network.entity.form.nickname.LABEL' | translate }}",
  "nickname"
)(
  placeholder="{{ 'network.entity.form.nickname.PLACEHOLDER' | translate }}"
  ng-model="entityForm.input.name"
)

+field(
  "{{ 'network.entity.form.billing_id.LABEL' | translate }}",
  "billing_id"
)(
  placeholder="{{ 'network.entity.form.billing_id.PLACEHOLDER' | translate }}"
  ng-model="entityForm.input.billing_id"
)

+field(
  "{{ 'network.entity.form.vlan.LABEL' | translate }}",
  "vlan"
)(
  placeholder="{{ 'network.entity.form.vlan.PLACEHOLDER' | translate }}"
  ng-model="entityForm.input.vlan"
)

+select(
  "{{ 'network.entity.form.type.LABEL' | translate }}",
  "type"
)(
  ng-model="entityForm.type"
  ng-change="entityForm.onTypeChange()"
  ng-options="'network.entity.form.type.'+type | translate for (type,value) in entityForm.types"
)

div(ng-if="entityForm.showV4")
  hr

  +select(
    "{{ 'network.entity.form.v4.type.LABEL' | translate }}",
    "type"
  )(
    ng-model="entityForm.v4.type"
    ng-change="entityForm.v4.onTypeChange()"
    ng-options="'network.entity.form.v4.type.'+type | translate for (type,value) in entityForm.v4.types"
  )

  +label(
    "{{ 'network.entity.form.v4.address.LABEL' | translate }}",
    "v4.address"
  )
    .row
      div(ng-class="entityForm.v4.is_single ? 'col-xs-12' : 'col-xs-8'")
        input.form-control(
          type="text"
          placeholder="{{ 'network.entity.form.v4.address.PLACEHOLDER' | translate }}"
          ng-model="entityForm.input.v4.address"
        )
      .col-xs-1.text-center(ng-if-start="entityForm.v4.is_range")
        p.form-control-static
          strong -
      .col-xs-3(ng-if-end)
        input.form-control(
          type="text"
          placeholder="{{ 'network.entity.form.v4.range.PLACEHOLDER' | translate }}"
          ng-model="entityForm.v4.range_end"
          ng-change="entityForm.v4.onRangeChange()"
        )

  +field(
    "{{ 'network.entity.form.v4.subnet.LABEL' | translate }}",
    "v4.subnet"
  )(
    placeholder="{{ 'network.entity.form.v4.subnet.PLACEHOLDER' | translate }}"
    ng-model="entityForm.input.v4.subnet_mask"
  )

  +field(
    "{{ 'network.entity.form.v4.gateway.LABEL' | translate }}",
    "v4.gateway"
  )(
    placeholder="{{ 'network.entity.form.v4.gateway.PLACEHOLDER' | translate }}"
    ng-model="entityForm.input.v4.gateway"
  )

div(ng-if="entityForm.showV6")
  hr

  +field(
    "{{ 'network.entity.form.v6.address.LABEL' | translate }}",
    "v6.address"
  )(
    placeholder="{{ 'network.entity.form.v6.address.PLACEHOLDER' | translate }}"
    ng-model="entityForm.input.v6.address"
  )

  +field(
    "{{ 'network.entity.form.v6.gateway.LABEL' | translate }}",
    "v6.gateway"
  )(
    placeholder="{{ 'network.entity.form.v6.gateway.PLACEHOLDER' | translate }}"
    ng-model="entityForm.input.v6.gateway"
  )
