mixin field(label, name)
  .form-group
    label.control-label.col-md-3.col-sm-2(for="form-"+name)=label
    .col-md-9.col-sm-10
      input.form-control(
        type="text"
        id="form-"+name
      )&attributes(attributes)
      if block
        p.help-block
          block

mixin double-field(label, name, fattrs, sattrs, dualClass)
  .form-group.dual-input(
    class=dualClass
  )
    label.control-label.col-md-3.col-sm-2(for="form-"+name)=label
    .col-md-9.col-sm-10
      div.first-input
        input.form-control(
          type="text"
        )&attributes(fattrs)
      div.second-input
        input(
          type="text"
          class="form-control"
        )&attributes(sattrs)
      if block
        p.help-block
          block

mixin textarea(label, name)
  .form-group
    label.control-label.col-md-3.col-sm-2(for="form-"+name)=label
    .col-md-9.col-sm-10
      textarea.form-control(
        id="form-"+name
      )&attributes(attributes)
      if block
        p.help-block
          block

mixin checkbox(label, name)
  .form-group
    label.control-label.col-md-3.col-sm-2(for="form-"+name)=label
    .col-md-9.col-sm-10
      .checkbox
        label 
          input(
            type="checkbox"
            id="form-"+name
          )&attributes(attributes)
      if block
        p.help-block
          block
