extends /resources/angle/pug/table

block headings
  th(ng-if="table.showUser").relative User
    sort(col="user")
  th(ng-if="table.showIpAddress").relative IP Address
    sort(col="ip")
  th(ng-if="table.showDescription").relative Description
    sort(col="desc")
  th(ng-if="table.showType").relative Type
    sort(col="type")
  th(ng-if="table.showDate").relative Date
    sort(col="created_at")

block columns
  td(ng-if="table.showUser")
    log-user(log="row")
  td(
    ng-bind="row.ip"
    ng-if="table.showIpAddress"
  )
  td(
    ng-bind="row.desc"
    ng-if="table.showDescription"
  )
  td(ng-if="table.showType")
    log-target(log="row")
  td(ng-if="table.showDate")
    a(
      ui-sref="app.system.log.view({id: row.id})"
      date="row.created_at"
    )
