doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'server.form.id.LABEL' | translate }}",
  "id"
)(
  placeholder="{{ 'server.form.id.PLACEHOLDER' | translate }}"
  ng-model="serverForm.input.srv_id"
)

+field(
  "{{ 'server.form.mac.LABEL' | translate }}",
  "mac"
)(
  placeholder="{{ 'server.form.mac.PLACEHOLDER' | translate }}"
  ng-model="serverForm.input.mac"
)

+label("{{ 'server.form.cpu.LABEL' | translate }}")
  ui-select(ng-model="serverForm.input.cpu")
    ui-select-match(placeholder="{{ 'server.form.cpu.PLACEHOLDER' | translate }}")
      | {{ $select.selected.name }}

    ui-select-choices(
      repeat=
        "cpu in (" +
          "serverForm.cpu.items" +
          "| filter: {name: $select.search}" +
        ") track by cpu.id"
      refresh="serverForm.cpu.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="cpu.name | highlight: $select.search")

+label("{{ 'server.form.mem.LABEL' | translate }}")
  ui-select(ng-model="serverForm.input.mem")
    ui-select-match(placeholder="{{ 'server.form.mem.PLACEHOLDER' | translate }}")
      | {{ $select.selected.name }}

    ui-select-choices(
      repeat=
        "mem in (" +
          "serverForm.mem.items" +
          "| filter: {name: $select.search}" +
        ") track by mem.id"
      refresh="serverForm.mem.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="mem.name | highlight: $select.search")

div(ng-repeat="disk in serverForm.disks.items track by $index")
  +icon-label("{{ 'server.form.disk.LABEL' | translate }}")(
    class="fa"
    ng-class=
      "'fa-'+($index ? 'minus' : 'plus')+'-circle '" +
      "+($index || serverForm.disks.items.length < serverForm.disks.max ? '' : 'disabled ')"
    ng-click="$index ? serverForm.disks.rem($index) : serverForm.disks.add(disk.selected)"
  )
    ui-select(ng-model="disk.selected")
      ui-select-match(placeholder="{{ 'server.form.disk.PLACEHOLDER' | translate }}")
        | {{ $select.selected.name }}

      ui-select-choices(
        repeat=
          "choice in (" +
            "disk.items" +
            "| filter: {name: $select.search}" +
          ") track by choice.id"
        refresh="disk.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="choice.name | highlight: $select.search")

div(ng-repeat="addOn in serverForm.addOns.items track by $index")
  +icon-label("{{ 'server.form.add-on.LABEL' | translate }}")(
    class="fa"
    ng-class="'fa-'+($index ? 'minus' : 'plus')+'-circle'"
    ng-click="$index ? serverForm.addOns.rem($index) : serverForm.addOns.add(addOn.selected)"
  )
    +input-with-btn("fa fa-times-circle")(
      ng-click="addOn.selected = null"
    )
      ui-select(ng-model="addOn.selected")
        ui-select-match(placeholder="{{ 'server.form.add-on.PLACEHOLDER' | translate }}")
          | {{ $select.selected.name }}

        ui-select-choices(
          repeat=
            "choice in (" +
              "addOn.items" +
              "| filter: {name: $select.search}" +
            ") track by choice.id"
          refresh="addOn.load($select.search)"
          refresh-delay="400"
        )
          span(ng-bind-html="choice.name | highlight: $select.search")

hr

+label("{{ 'server.form.switch.LABEL' | translate }}")
  ui-select(
    ng-model="serverForm.switch.selected"
    ng-change="serverForm.switch.fireChangeEvent()"
  )
    ui-select-match(placeholder="{{ 'server.form.switch.PLACEHOLDER' | translate }}")
      | {{ $select.selected.name }}

    ui-select-choices(
      repeat=
        "switch in (" +
          "serverForm.switch.items" +
          "| filter: {name: $select.search}" +
        ") track by switch.id"
      refresh="serverForm.switch.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="switch.name | highlight: $select.search")

+label("{{ 'server.form.switch.port.LABEL' | translate }}")
  .row
    .col-xs-6
      input.form-control(
        type="text"
        placeholder="{{ 'server.form.switch.port.PLACEHOLDER' | translate }}"
        ng-disabled="!serverForm.switch.selected"
        ng-model="serverForm.input.switch.port"
      )
    .col-xs-6
      ui-select(
        ng-model="serverForm.switchSpeed.selected"
        ng-disabled="!serverForm.switch.selected"
      )
        ui-select-match(placeholder="{{ 'server.form.switch.speed.PLACEHOLDER' | translate }}")
          | {{ $select.selected.name }}

        ui-select-choices(
          repeat=
            "switchSpeed in (" +
              "serverForm.switchSpeed.items" +
              "| filter: {name: $select.search}" +
            ") track by switchSpeed.id"
          refresh="serverForm.switchSpeed.load($select.search)"
          refresh-delay="400"
        )
          span(ng-bind-html="switchSpeed.name | highlight: $select.search")

+label("{{ 'server.form.group.LABEL' | translate }}")
  ui-select(
    ng-model="serverForm.group.selected"
    ng-change="serverForm.group.fireChangeEvent()"
    ng-disabled="!serverForm.switch.selected"
  )
    ui-select-match(placeholder="{{ 'server.form.group.PLACEHOLDER' | translate }}")
      | {{ $select.selected.name }}

    ui-select-choices(
      repeat=
        "group in (" +
          "serverForm.group.items" +
          "| filter: {name: $select.search}" +
        ") track by group.id"
      refresh="serverForm.group.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="group.name | highlight: $select.search")

  p.help-block(ng-if="serverForm.switch.selected")
    span(translate="server.form.group.HELP")
    | &nbsp;
    a(
      ng-bind="serverForm.switch.selected.name"
      ui-sref="app.hardware.switch.view.manage({ id: serverForm.switch.selected.id })"
    )
    | &nbsp;
    span(translate="server.form.group.HELP_SUFFIX")

div(ng-if="serverForm.group.selected")
  +label("{{ 'server.form.entities.LABEL' | translate }}")
    ui-select(
      multiple
      sortable="true"
      ng-model="serverForm.entities.selected"
      ng-change="serverForm.entities.fireChangeEvent()"
      close-on-select="false"
    )
      ui-select-match(placeholder="{{ 'server.form.entities.PLACEHOLDER' | translate }}")
        | {{ $item.name }}

      ui-select-choices(
        repeat=
          "entity in (" +
            "serverForm.entities.items" +
            "| filter: serverForm.entities.notSelected" +
          ") track by entity.id"
        refresh="serverForm.entities.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="entity.name | highlight: $select.search")
        | &nbsp;
        small
          | (VLAN:&nbsp;
          span(ng-bind-html="entity.vlan | highlight: $select.search")
          | {{ entity.siblings_count ? ' +'+entity.siblings_count : '' }})
        div(ng-if="entity.v6")
          small(ng-bind="entity.v6.address")

hr

+field(
  "{{ 'server.form.ipmi.ip.LABEL' | translate }}",
  "ipmi.ip"
)(
  placeholder="{{ 'server.form.ipmi.ip.PLACEHOLDER' | translate }}"
  ng-model="serverForm.input.ipmi.ip"
)

+label("{{ 'server.form.ipmi.admin.LABEL' | translate }}")
  .row
    .col-xs-6
      input.form-control(
        type="text"
        placeholder="{{ 'server.form.ipmi.admin.username.PLACEHOLDER' | translate }}"
        ng-model="serverForm.input.ipmi.admin.username"
      )
    .col-xs-6
      input.form-control(
        type="text"
        placeholder="{{ 'server.form.ipmi.admin.password.PLACEHOLDER' | translate }}"
        ng-model="serverForm.input.ipmi.admin.password"
      )

+label("{{ 'server.form.ipmi.client.LABEL' | translate }}")
  .row
    .col-xs-6
      input.form-control(
        type="text"
        placeholder="{{ 'server.form.ipmi.client.username.PLACEHOLDER' | translate }}"
        ng-model="serverForm.input.ipmi.client.username"
      )
    .col-xs-6
      input.form-control(
        type="text"
        placeholder="{{ 'server.form.ipmi.client.password.PLACEHOLDER' | translate }}"
        ng-model="serverForm.input.ipmi.client.password"
      )

hr

+field(
  "{{ 'server.form.billing.id.LABEL' | translate }}",
  "billing.id"
)(
  placeholder="{{ 'server.form.billing.id.PLACEHOLDER' | translate }}"
  ng-model="serverForm.input.billing.id"
)

+label(
  "{{ 'server.form.billing.date.LABEL' | translate }}",
  "billing-date"
)
  +input-with-btn("fa fa-close")(
    ng-click="serverForm.billing.date.value = ''"
  )
    input.form-control(
      type="text"
      id="form-billing-date"
      date-range-picker
      options="serverForm.billing.date.options"
      ng-model="serverForm.billing.date.value"
      placeholder="{{ 'server.form.billing.date.PLACEHOLDER' | translate }}"
    )

+field(
  "{{ 'server.form.billing.max_bandwidth.LABEL' | translate }}",
  "billing.max_bandwidth"
)(
  placeholder="{{ 'server.form.billing.max_bandwidth.PLACEHOLDER' | translate }}"
  ng-model="serverForm.input.billing.max_bandwidth"
)

+field(
  "{{ 'server.form.nickname.LABEL' | translate }}",
  "nickname"
)(
  placeholder="{{ 'server.form.nickname.PLACEHOLDER' | translate }}"
  ng-model="serverForm.input.nickname"
)
