doctype html
include /resources/angle/pug/mixins/form

+field(
  "server.form.id.LABEL",
  "srv_id"
)(
  translate-attr="{ 'placeholder': 'server.form.id.PLACEHOLDER' }"
  ng-model="serverForm.input.srv_id"
)

+label("server.form.cpu.LABEL")
  +ui-select("serverForm.cpu")
    ui-select-match(placeholder="{{ 'server.form.cpu.PLACEHOLDER' | translate }}")
      span(ng-bind="$select.selected.name")

    ui-select-choices(
      repeat="cpu in serverForm.cpu.items track by cpu.id"
      refresh="serverForm.cpu.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="cpu.name | highlight: $select.search")

+label("server.form.mem.LABEL")
  +ui-select("serverForm.mem")
    ui-select-match(placeholder="{{ 'server.form.mem.PLACEHOLDER' | translate }}")
      span(ng-bind="$select.selected.name")

    ui-select-choices(
      repeat="mem in serverForm.mem.items track by mem.id"
      refresh="serverForm.mem.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="mem.name | highlight: $select.search")

div(ng-repeat="disk in serverForm.disks.items track by $index")
  +icon-label("server.form.disk.LABEL").fa(
    ng-class=[
      "'fa-'+($index ? 'minus' : 'plus')+'-circle '",
      "($index || serverForm.disks.items.length < serverForm.disks.max ? '' : 'disabled ')",
    ].join('+')
    ng-click="$index ? serverForm.disks.rem($index) : serverForm.disks.add(disk.selected)"
  )
    +ui-select("disk")
      ui-select-match(placeholder="{{ 'server.form.disk.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="choice in disk.items track by choice.id"
        refresh="disk.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="choice.name | highlight: $select.search")

div(ng-repeat="addOn in serverForm.addOns.items track by $index")
  +icon-label("server.form.add-on.LABEL").fa(
    ng-class="'fa-'+($index ? 'minus' : 'plus')+'-circle'"
    ng-click="$index ? serverForm.addOns.rem($index) : serverForm.addOns.add(addOn.selected)"
  )
    +input-with-btn("fa fa-times-circle", "addOn.selected")(
      ng-click="addOn.clear()"
    )
      +ui-select("addOn")
        ui-select-match(placeholder="{{ 'server.form.add-on.PLACEHOLDER' | translate }}")
          span(ng-bind="$select.selected.name")

        ui-select-choices(
          repeat="choice in addOn.items track by choice.id"
          refresh="addOn.load($select.search)"
          refresh-delay="400"
        )
          span(ng-bind-html="choice.name | highlight: $select.search")

hr

div.relative(
  ng-repeat="(portIndex, port) in serverForm.ports"
)
  +icon-label("server.form.mac.LABEL").fa.fa-times-circle(
    ng-click="serverForm.ports.remove(port)"
  )
    input.form-control(
      type="text"
      ng-model="port.input.mac"
      name="port-{{ portIndex }}.mac"
      translate-attr="{ 'placeholder': 'server.form.mac.PLACEHOLDER' }"
    )

  +label("server.form.group.LABEL")
    +ui-select("port.group")
      ui-select-match(placeholder="{{ 'server.form.group.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="group in port.group.items track by group.id"
        refresh="port.group.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="group.name | highlight: $select.search")

  +label("server.form.switch.LABEL")
    +ui-select("port.switch")(
      ng-disabled="!port.group.selected"
    )
      ui-select-match(placeholder="{{ 'server.form.switch.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="switch in port.switch.items track by switch.id"
        refresh="port.switch.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="switch.name | highlight: $select.search")

  +label("server.form.switch.port.LABEL")
    .row
      .col-xs-6
        +ui-select("port.switch.port")(
          ng-disabled="!port.switch.selected"
        )
          ui-select-match(placeholder="{{ 'server.form.switch.port.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          +ui-select-choices("port.switch.port")
            span(ng-bind-html="choice.name | highlight: $select.search")
      .col-xs-6
        +ui-select("port.switch.speed")(
          ng-disabled="!port.switch.selected"
        )
          ui-select-match(placeholder="{{ 'server.form.switch.speed.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          +ui-select-choices("port.switch.speed")
            span(ng-bind-html="choice.name | highlight: $select.search")
          
  
  div(ng-if="port.switch.port.selected")
    +label("server.form.entities.LABEL")
      entity-multi-select(
        placeholder="server.form.entities.PLACEHOLDER"
        select="port.entities"
      )

    +field(
      "server.form.billing.max_bandwidth.LABEL",
      "port.max_bandwidth"
    )(
      name="port-{{ portIndex }}.max_bandwidth"
      translate-attr="{ 'placeholder': 'server.form.billing.max_bandwidth.PLACEHOLDER' }"
      ng-model="port.max_bandwidth"
    )

+btn-full-w("server.form.port.ADD")(
  ng-click="serverForm.port.add()"
)

hr

div.relative(
  ng-repeat="(controlIndex, control) in serverForm.controls"
)
  +icon-label("server.form.control.type.LABEL").fa.fa-times-circle(
    ng-click="serverForm.controls.remove(control)"
  )
    +ui-select("control.type")
      ui-select-match(placeholder="{{ 'server.form.control.type.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      +ui-select-choices("control.type")
        span(ng-bind-html="choice.name | highlight: $select.search")

  +field(
    "server.form.control.ip.LABEL",
    "control-{{ controlIndex }}.ip"
  )(
    translate-attr="{ 'placeholder': 'server.form.control.ip.PLACEHOLDER' }"
    ng-model="control.input.ip"
  )

  +label("server.form.control.admin.LABEL")
    .row
      .col-xs-6
        input.form-control(
          type="text"
          translate-attr="{ 'placeholder': 'server.form.control.admin.username.PLACEHOLDER' }"
          ng-model="control.input.admin.username"
          name="control-{{ controlIndex }}.admin.username"
        )
      .col-xs-6
        input.form-control(
          type="text"
          translate-attr="{ 'placeholder': 'server.form.control.admin.password.PLACEHOLDER' }"
          ng-model="control.input.admin.password"
          name="control-{{ controlIndex }}.admin.password"
        )

  +label("server.form.control.client.LABEL")
    .row
      .col-xs-6
        input.form-control(
          type="text"
          translate-attr="{ 'placeholder': 'server.form.control.client.username.PLACEHOLDER' }"
          ng-model="control.input.client.username"
          name="control-{{ controlIndex }}.client.username"
        )
      .col-xs-6
        input.form-control(
          type="text"
          translate-attr="{ 'placeholder': 'server.form.control.client.password.PLACEHOLDER' }"
          ng-model="control.input.client.password"
          name="control-{{ controlIndex }}.client.password"
        )

+btn-full-w("server.form.control.ADD")(
  ng-click="serverForm.controls.add()"
  ng-hide="serverForm.controls.length"
)

hr

+label("server.form.billing.id.LABEL")
  .row
    .col-sm-6
      +input-with-btn("fa fa-close", "serverForm.billing.integration.selected")(
        ng-click="serverForm.billing.integration.clear()"
      )
        +ui-select("serverForm.billing.integration")
          ui-select-match(placeholder="{{ 'server.form.billing.integration.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          +ui-select-choices("serverForm.billing.integration")
            span(ng-bind-html="choice.name | highlight: $select.search")
    .col-sm-6
      input.form-control(
        type="text"
        name="billing.id"
        translate-attr="{ 'placeholder': 'server.form.billing.id.PLACEHOLDER' }"
        ng-model="serverForm.input.billing.id"
        ng-disabled="!serverForm.billing.integration.selected"
      )

+label(
  "server.form.billing.date.LABEL",
  "billing.date"
)
  +input-with-btn("fa fa-close", "serverForm.billing.date.value")(
    ng-click="serverForm.billing.date.empty()"
  )
    input.form-control(
      type="text"
      id="form-billing-date"
      date-range-picker=""
      options="serverForm.billing.date.options"
      ng-model="serverForm.billing.date.value"
      translate-attr="{ 'placeholder': 'server.form.billing.date.PLACEHOLDER' }"
      name="billing.date"
    )

+field(
  "server.form.nickname.LABEL",
  "nickname"
)(
  translate-attr="{ 'placeholder': 'server.form.nickname.PLACEHOLDER' }"
  ng-model="serverForm.input.nickname"
)
