extends server.index.pug

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="server.inventory.TITLE")
    server-table(
      show-ip="false"
      show-client="false"
      show-nickname="false"
      show-status="false"
      show-ram="true"
      show-hdds="true"
    )
    list-footer
