extends /resources/angle/pug/table-checkable

block headings
  th.sortable(ng-if="table.showSwitchId")
    span(translate="package.heading.SWITCH_ID")
    sort(col="switch_id")
  th.sortable(ng-if="table.showIp")
    span(translate="package.heading.IP")
    sort(col="ip")
  th(ng-if="table.showScanStatus")
    span(translate="package.heading.SCAN")
  th(
    ng-if="table.showPortCount"
    translate="package.heading.SERVER_COUNT"
  )
  th(
    ng-if="table.showActions"
    translate="package.heading.ACTIONS"
  )

block columns
  td(ng-if="table.showSwitchId")
    a(
      ui-sref="app.network.package.view.manage({id: row.id})"
      ng-bind="row.name"
    )
  td(ng-if="table.showIp")
    span(ng-bind="row.ip+':'+row.port")
  td(ng-if="table.showScanStatus")
    span(
      ng-if="!row.scan"
      translate="package.list.scan.NONE"
    )
    switch-scan-status(
      ng-if="row.scan"
      scan="row.scan"
    )
    |  &nbsp;
    a(
      ng-if="!row.scan || row.scan.done"
      ng-click="table.startScan(row)"
    )
      i.fa.fa-plus

  td(ng-if="table.showPortCount")
    a(
      ui-sref="app.hardware.server.list({switch: row.id})"
      ng-bind="row.portsInUseCount"
    )
  td(ng-if="table.showActions")
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.network.package.view.edit({id: row.id})"
        translate="app.action.EDIT"
      )
      a.btn.btn-default(
        ui-sref="app.network.package.view.manage({id: row.id})"
        translate="app.action.MANAGE"
      )
