include /resources/angle/pug/mixins/panel
include /resources/angle/pug/mixins/form


form(ng-submit="pxeInstallForm.submit()")
  +panel("{{ 'os-reload.server.TITLE' | translate }}")(
    ng-class="pxeInstallForm.loader.class"
  )
    .loader
    .panel-body.form-horizontal
      +label("os-reload.server.server.LABEL")
        +ui-select("pxeInstallForm.server")
          ui-select-match(placeholder="{{ 'os-reload.server.server.PLACEHOLDER' | translate }}")
            span(ng-bind="$select.selected.name")

          ui-select-choices(
            repeat="server in pxeInstallForm.server.items track by server.id"
            refresh="pxeInstallForm.server.load($select.search)"
            refresh-delay="400"
          )
            span(ng-bind-html="server.name | highlight: $select.search")

      .text-center(ng-if="!pxeInstallForm.isEnabled")
        p(translate="os-reload.server.NOT_ENABLED")
        a.btn.btn-primary(
          ng-if="pxeInstallForm.server.selected.canEdit"
          translate="server.EDIT"
          ui-sref="app.hardware.server.view.edit({ id: pxeInstallForm.server.selected.id })"
        )

      div(ng-if="pxeInstallForm.isEnabled")
        os-settings-fields(control="pxeInstallForm.osSettingsControl" server="pxeInstallForm.server" lang="os-reload.server")
        
    .panel-footer.clearfix(ng-if="pxeInstallForm.isEnabled || !pxeInstallForm.server.selected")
      .pull-right
        button.btn.btn-primary(
          type="submit"
          translate="os-reload.server.SUBMIT"
        )
