extends modal

block vars
  - var lang = "app.confirm.delete"

block title
  span(translate=lang+".TITLE")

block body
  p(translate=lang + ".BODY")

  ul
    li(
      ng-repeat="target in modal.targets"
      ng-bind="target.name"
    )

block footer
  button.btn.btn-secondary(
    type="button"
    ng-click="modal.$dismiss()"
    data-translate=lang + ".CANCEL"
  )
  button.btn.btn-danger(
    type="submit"
    data-translate=lang + ".SUBMIT"
  )
