// top navbar
header.topnavbar-wrapper(ng-include="'app/layout/top-navbar/top-navbar.html'")

// sidebar
aside.aside(ng-include="'app/layout/sidebar/sidebar.html'")

// offsidebar
aside.offsidebar(ng-include="'app/layout/right-sidebar/right-sidebar.html'")

// Main section
section
  // Page content
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")

// Alerts section
.alerts(ng-controller="AlertCtrl as alert")
  .alert(
    ng-repeat="message in alert.items"
    ng-class="'alert-'+message.type"
  )
    button.close(
      type="button"
      aria-label="Close"
      ng-click="message.remove()"
    )
      span(aria-hidden="true") &times;
    | {{message.text}}

// Page footer
footer(ng-include="'app/layout/footer/footer.html'")
