doctype html
include /resources/angle/pug/mixins/form

+field("{{ 'pxe.file.form.name.LABEL' | translate }}", "name")(
  placeholder="{{ 'pxe.file.form.name.PLACEHOLDER' | translate }}"
  ng-model="pxeFileForm.input.name"
)

+label("{{ 'pxe.file.form.parent.LABEL' | translate }}")
  +input-with-btn("fa fa-times-circle")(
  ng-click="pxeFileForm.parentServers.selected = null"
  )
    +ui-select("pxeFileForm.parentServers")
      ui-select-match(placeholder="{{ 'pxe.file.form.parent.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
      repeat="parent in pxeFileForm.parentServers.items track by parent.id"
      refresh="pxeFileForm.parentServers.load($select.search)"
      refresh-delay="400"
      )
        span(ng-bind-html="parent.name | highlight: $select.search")

+field("{{ 'pxe.file.form.max_installs.LABEL' | translate }}", "name")(
placeholder="{{ 'pxe.file.form.max_installs.PLACEHOLDER' | translate }}"
ng-model="pxeFileForm.input.install_max_concurrent"
)

+label("{{ 'pxe.file.form.group.LABEL' | translate }}")
  +input-with-btn("fa fa-times-circle")(
    ng-click="pxeFileForm.groups.selected = null"
  )
    +ui-select("pxeFileForm.groups")
      ui-select-match(placeholder="{{ 'pxe.file.form.group.PLACEHOLDER' | translate }}")
        span(ng-bind="$select.selected.name")

      ui-select-choices(
        repeat="group in pxeFileForm.groups.items track by group.id"
        refresh="pxeFileForm.groups.load($select.search)"
        refresh-delay="400"
      )
        span(ng-bind-html="group.name | highlight: $select.search")

hr

+field("{{ 'pxe.file.form.host.LABEL' | translate }}", "name")(
  placeholder="{{ 'pxe.file.form.host.PLACEHOLDER' | translate }}"
  ng-model="pxeFileForm.input.http.host"
)

+field("{{ 'pxe.file.form.port.LABEL' | translate }}", "name")(
  placeholder="{{ 'pxe.file.form.port.PLACEHOLDER' | translate }}"
  ng-model="pxeFileForm.input.http.port"
)

+label("{{ 'pxe.file.form.https.LABEL' | translate }}")
  +checkbox()(
    ng-model="pxeFileForm.input.http.use_https"
  )

+field("{{ 'pxe.file.form.api_key.LABEL' | translate }}", "name")(
  ng-model="pxeFileForm.input.http.api_key"
)

